.recordHeader {
    background-color: #3f5a8d;
    border-bottom: 1px solid #636363;
    padding: 4px;
    height: 13px;
    font-size: 1.1em;
    color: whitesmoke;
}

.verticaltext {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

/* @group pbl_mods */

/* @group pbl_mods */

.pbl_roundedGroupLabel2 {
    height: 20px;
    line-height:19px;
    padding-bottom: 0;
    padding-left: 4px; 
    padding-right: 4px;    
    background-color: #49637c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.9em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#C8D1DC), to(#B4BECB));
    background-image: -moz-linear-gradient(-90deg, #C8D1DC, #B4BECB);
    color: #FFFFFF;
}

/* @end */