.source_viewer_drawerlabel{
    font-weight: bold;
    color:white;
    font-family: courier;
    text-align: center;
    margin-top: 5px;
}
.sandbox{
    background: white;
}

.source_viewer{
    text-align: left;
}

.source_viewer .highlighttable{
    width: 100%;
    height:100%;
    border-collapse:collapse;
	font-size:10px;
}
.source_viewer .linenos{
    width:3em;
    color:white;
}

.source_viewer .linenos pre{
    background: #F2F2F2;
    padding-left: 5px;
    padding-right:3px;
    color:#888;

}
.source_viewer .highlight{
    width: 100%;
}

.source_viewer pre{
    background: white;
    border:0;
    padding: 0;
}

.source_viewer{
}

.viewer_box{
}

.viewer_box_title{
    background: #2A7ACC;
    color:#FFE14E;
    font-size:14px;
    padding:2px;
    height: 24px;
}

.source_viewer_button{
    visibility: hidden;
}


.changed_editor .source_viewer_button{
    visibility: visible;
}
.source_viewer_error{
    background-color: red;
    color:white;
    font-weight: bold;
}