
.labels {
	border: 1px solid gray;
	padding: 2px;
	width:10em;
	color: white;
	background-color: navy;
	text-align: right;
	font-size: .9em;
}

.values {
	border: 1px solid gray;
	padding: 2px;
	width:80em;
	font-size: .9em;

}
.valuesInner {
	border: 1px solid gray;
	padding: 2px;
	width:68em;
	font-size: .9em;
	overflow: hidden;

}


.types {
	border: 1px solid gray;
	padding: 2px;
	width:5em;
	font-size: .9em;
}