#mainHeader{
background: black url(images/uwa_logo.gif) no-repeat 97% 2px;
height: 30px;
}
.pbl_formContainer {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	height: 550px;
	margin: 5px;
}
.pbl_formContainerTitle{
	height: 2.5em;
	padding-top: 0.3em;
	font-size: small;
	font-weight: bold;
	text-align: center;
	color: #e0e0e0;
	background: url(images/barbg.png) repeat-x;
}
.pbl_formContainerClient{
	background: url(images/overallbg.gif) repeat-x;
	background-color: white;
	border: 2px solid #e0e0e0;
	color: #2c2c2c;
	overflow: auto;
}

.pbl_formContainerBottom{
	background-image: url(images/barbg.png);
	padding-left: 10px;
	padding-right: 10px;
}

.description{min-height:3em !important;
              max-height:3em !important;
              overflow-y:auto !important;
              }


.pbl_formMsgBox{
    height: 1.4em;
    border-top: 1px solid  #c3e9f6;
    border-bottom: 1px solid  #c3e9f6;
    border-left: 1px solid  #c3e9f6;
    border-right: 1px solid  #c3e9f6;
    text-align: center;

    
}
.gnrfield{
	width: auto;
	white-space: nowrap;
	font-size: 0.97em !important;
	margin-left: 2px !important;
}
.textblock{
	font-size: 0.97em !important;
	vertical-align: middle !important;
	margin-left: 2px !important;
}
    
.gnrfieldlabel{
	color: #2c2c2c;
	font-size:0.97em !important;
	font-weight: bold;
	text-align: right;
}


    
.gnrtreelabel{
	color: #2c2c2c;
	font-size:0.97em !important;
	font-weight: bold;
}

.pbl_formlabel {
	color: #2c2c2c;
	font-weight: bold;
	font-size: small;

}

.pbl_form {
	border: 3px solid #e0e0e0;
	margin-left: 1em;
	margin-right: 1em;
	background-color: white;
	-moz-border-radius : 10px;

}


.pbl_button{
	cursor: pointer;
	color: 2c2c2c;
	text-align: center;
	margin-left: 2px;	
	margin-right: 2px;	
	margin-top: 5px;	
	margin-bottom: 5px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;

	padding-left: 2.2em;
	padding-right: 2.2em;

	font-weight: bold;
	font-size: 0.97em;
    background-color: #b1b1b1;
}

.pbl_button:hover{
	border-width: 1px;
	color: #fff;
	background-color: #6c6c6c;
}
.pbl_button:active{
	border-style: inset;
	border-width: 1px;
	color: #fff;
	background-color: #40403f;
}



.query_button{
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #6c6c6c;
	text-align: center;
	font-size: 0.94em;
	padding-top: 2px;
	padding-bottom: 3px;
	cursor: pointer;
	border: 1px solid silver
}
.disabled{
	opacity: 0.10;
}

.pbl_confirm{
	background: #b1b1b1 url(images/button_ok.gif) no-repeat 10%;
}
.pbl_cancel{
	background: #b1b1b1 url(images/button_cancel.gif) no-repeat 10%;
}

body .dijitFakeInput{
	height: 1.2em !important;
	}
	

table.pbl_index{
	margin: auto;
	border-collapse:separate;
	border-spacing:10px;
}

.pbl_index caption{
	color: 2c2c2c;
	text-align: center;
	font-size: small;
	margin-top: 2em;
	margin-bottom: 2em;
}

.pbl_index td{
	color: #fff;
	cursor: pointer;
	width: 200px;
	height: 30px;
	background-color: #6f6f6f;
	text-align: center;
	font-weight: bold;
}

.pbl_index td:hover{
	color: #fff;
	background-color: #686868;
}
.pbl_index td:active{
	color: #fff;
	font-weight: bold;
	background-color: #40403f;

}
.pbl_largemessage{
	color: #2c2c2c;
	text-align: center;
	font-size: large;
}

.pkg_heroscape .dijitTooltipContainer {
    font-size: 8pt !important;
}

/* @group grid */
/* rows */

.pkg_heroscape .dojoxGrid-row {
	position: relative;
	width: 9000em;
	border: none;
	border-left: none;
	border-right: none;
	background-color: #fff;
	border-top: none;
	border-bottom: 1px solid silver;
}

.pkg_heroscape .dojoxGrid-row:hover {
	background-color: #f2f2f2;
	
}
.pkg_heroscape .dojoxGrid-row-over .dojoxGrid-cell {
	background: none;
	color: #0c2c45;
}

.pkg_heroscape .dojoxGrid-row-odd {
	background-color: #edf9f8;
}


.pkg_heroscape .dojoxGrid-row-odd:hover {
	background-color: #aacffa;
}

.pkg_heroscape .dojoxGrid-row-selected {
	background-color: #fbff94;
}

.pkg_heroscape .dojoxGrid-row-selected:hover {
	background-color: #fdff00;
}

.pkg_heroscape .dojoxGrid-row-table {
	table-layout: fixed;
	width: 0;
}

.pkg_heroscape .dojoxGrid-invisible {
	visibility: hidden;
}		

.pkg_heroscape .Xdojo-ie .dojoxGrid-invisible {
	display: none;
}		

.pkg_heroscape .dojoxGrid-invisible td, .dojoxGrid-header .dojoxGrid-invisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}

/* cells */

.pkg_heroscape .dojoxGrid-cell {
	border: 1px solid transparent;
	border-right: 1px solid #D5CDB5 !important;
	text-align: left;
	overflow: hidden;
}

.dj_ie6 .pkg_heroscape .dojoxGrid-cell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}

.pkg_heroscape .dojoxGrid-cell-focus {
	border-color: none
}

.pkg_heroscape .dojoxGrid-cell-over {
	border-color: none;
}

.pkg_heroscape .dojoxGrid-cell-focus.dojoxGrid-cell-over {
	border-color:  transparent;
}

.pkg_heroscape .dojoxGrid-cell-clip {
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

/* @end */


.localizetool  {
    margin:10px;
	border-collapse: collapse;
	color: #3a3a3a;
	font-size: x-small;
}
.localizetool th {
	padding:2px;
	border: thin solid #c8c8c8;
	background-color: #a1a1a1;
	font-weight: bold;
	text-align: center;
}

.localizetool tr > td.localizetool_lbl {
	padding:2px;
	color: white;
	border: thin solid #c8c8c8;
	background-color: #4f4f4f;
	text-align: right;
}
.localizetool tr > td.localizetool_fld {
	padding:2px;
	border: thin solid #c8c8c8;
	background-color: white;
}

.en_flag{
	background: url(images/en_flag.gif) no-repeat center center;
	height: 100%;
	width: 18px;
	display: block;
	float: right;
}
.en_flag:hover{
	background: url(images/en_flag.gif) no-repeat center center;
}

/* My Comment */

.it_flag{
	background: url(images/it_flag.gif) no-repeat center center;
	height: 100%;
	width: 18px;
	display: block;
	float: right;
	margin-right: 8px;
}
.logout{
	background: url(images/shutdown_20x20.gif) no-repeat center center;
	height: 100%;
	width: 20px;
	display: block;
	float: right;
	margin-right: 4px;
}
.logout:hover{
		background: url(images/logout_16x16.gif) no-repeat center center;
	}
.it_flag:hover{
	background: url(images/it_flag.gif) no-repeat center center;
}

.genrologo{
	color: :white;
	font-size: .7em;
	text-align: left;
	margin-left: 4px;
	font-weight: bold;
	background: url(images/genropy.gif) no-repeat left center;
	height: 100%;
	padding-left: 22px;
	padding-top: 3px;
	display: block;
}


.gnrmenu{
	width: 4em;
	background-color: white;
	font-size: .7em;
	color:gray;
	display: block;
}




