.Utgar_card {background: url(images/sfondicarte/utgar.gif) no-repeat left center;}

.Ullar_card  {background: url(images/sfondicarte/ullarblank.jpg) no-repeat left center;}

.Jandar_card  {background: url(images/sfondicarte/jandarblank.jpg) no-repeat left center;}

.Vydar_card  {background: url(images/sfondicarte/vydarblank.jpg) no-repeat left center;}

.Einar_card  {background: url(images/sfondicarte/einarblank.jpg) no-repeat left center;}


.Ullar {
	border: 8px solid #533c27;
	background-color: #41672e;
}
.Jandar {
	background-color: #3d82bb;
	border: 8px solid #b8bbbb;
}
.Vydar {
	background-color: #6fa6bc;
	border: 8px solid #918f8b;
}
.Einar {
	
	border: 8px solid #562249;
	background: #db7e2e url(images/thumbeinargj1.gif) no-repeat 20px 20px;
}
.Utgar {
	background-color: #851314;
	border: 8px solid #2e2925;
}
.card_field{
	font: bold x-small "Lucida Grande", Lucida, Verdana, sans-serif;
}
.changed_value td{
	color: red ! important;
}
.cardimg{
	background-color: white;
	width: 220px;
	height: 170px;
	border: 3px inset #434343;
}
.nome{
	font: bold large "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: underline;
	text-align: center;
	height: 40px;
}
.razza{
	
	top:218px;
	left:33px;
	font: bold xx-small "Lucida Grande", Lucida, Verdana, sans-serif;
	position: absolute;
	color: black;
	text-align: center;
}
.tipo{
	top:240px;
	left:15px;
	font: bold xx-small "Lucida Grande", Lucida, Verdana, sans-serif;
	position: absolute;
	color: black;
	text-align: center;
}

.c_classe{
	top:260px;
	left:15px;
	font: bold xx-small "Lucida Grande", Lucida, Verdana, sans-serif;
	position: absolute;
	color: black;
	text-align: center;
}
.pers{
	top:280px;
	left:15px;
	font: bold xx-small "Lucida Grande", Lucida, Verdana, sans-serif;
	position: absolute;
	color: black;
	text-align: center;
}
.dim{
	top:300px;
	left:15px;
	font: bold xx-small "Lucida Grande", Lucida, Verdana, sans-serif;
	position: absolute;
	color: black;
	text-align: center;
}
.abil_txt{
	min-width: 440px;
	min-height:220px !important;
    min-height:220px !important;
    overflow-y:auto !important;}