.infoBox{
    float:left; 
    font-size:xx-small;
    padding:2px;
    margin:2px;
    min-width:100px;
}

/* @group profile form */
.profilePane{
	height: 100%;
	background-color: #f1f1f1;
}
.personalPane{
	height: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;

}
.otherPane{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.contactPane{
	padding-top:5px ;
    padding-bottom:5px ;
    padding-left:5px ;
	padding-right:5px ;
	height: 50%;
}
.addressPane{
	padding-bottom:5px ;
	padding-top:5px ;
	padding-right:5px ;
	padding-left:5px ;
}
.notePane{
	padding-bottom:5px ;
	padding-left:5px ;
	padding-right:5px ;
	padding-top: 5px;
	height: 20%;
}

.address_text_area{
	width: 20em;
	height: 4ex;
}
.noteField{
	width: 100%;
	height: 9ex;
}
.categories{
	font-size: 9pt;
	border: 1px solid gray;
	min-height: 2em;
	min-width: 20ex;
}

.categories span{
	margin-right: 3px;
	cursor: pointer;
	padding-left:3px ;
	padding-top:3px ;
	padding-right:3px ;
	padding-bottom:3px ;
}

/* @end */

/* @group globalChanges */

.gnrfieldlabel{
	font-weight: normal;
	font-style: normal;
	color: rgba(0,51,102,0.8);
	white-space:nowrap;
	padding-right: 3px;
}

.tundra .dojoxGrid-header .dojoxGrid-cell{
	color: #003366 !important;	
}

.pbl_logo_icon {
	background:transparent url(images/menu.gif)  no-repeat  center center;
	scroll center;
	height:24px;
	width:30px;
}

a{
	color: #002349;
}


/* @end */

/* @group Adm */

.loginbox{
	height: 246px;
	width: 366px;
	background:transparent url(images/loginbox.gif)  no-repeat  center center;
}
.page_login #mainWindow{
	 background-color: #404950;
}

.page_login .loginInput .dijitReset{
	height: 20px;
	padding-top: 2px;
	padding-left: 2px;
}
.page_login .formTitle{
	font-size: medium;
	font-weight: bold;
}

.page_login a{
	text-decoration: none;
	color: #234372;
}
.loginbtn{
	background:transparent url(images/loginbtn.gif)  no-repeat  center center;
	height: 40px;
	width: 100px;
	cursor: pointer;
}
.msgbox{
	border-top: 1px solid gray;
	margin-left: 20px;
	margin-right: 20px;

}
/* @end */

/* @group Misc */

.smalltext {
	font-style: italic;
	font-size: 0.8em;
	white-space: nowrap;
}

.sectionLabel {
	color: rgba(0,51,102,0.4);
	text-align: left;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
}

/* @end */

/* @group custom pbl */
.pkg_gs .pbl_viewBoxLabel{
	color: rgba(0,51,102,0.4);
	text-align: left;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
	background-color: #e5e5e5;
}

/* @end */

/* @group ler_field_display */

.license_field, .etcf_field, .ratings_field {
display:none;
}

.license_L .license_field, .license_E .etcf_field, .license_R .ratings_field {
display: table-row;
}

/* @end */

