.button_block  div{
    width: 30px;
    height: 20px;
}
.button_block.iframetab{
    padding-left:0;
    padding-right:0;
}

.menuToggle_icon {
    background: url(icons/sidemenu.png) no-repeat center center;
}

/* @group iframetab */

.iframetab:hover{
	text-decoration: underline;
}

.iframetab:last-child{
	border-right: 0px;
	-moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-right: 1px;
}
.iframetab:first-child{
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
}

.iframetab_selected.iframetab{
    color: #fff;
   /* border: 0px;*/
	/*font-weight: bold;*/
	 background:#888;
	-moz-box-shadow: inset 1px 1px 2px #222;
    -webkit-box-shadow:inset 1px 1px 2px #222;
	
}
.iframetab_selected.iframetab:hover{
	text-decoration:none;
}

.iframetab{
    position:relative;
    display:inline-block;
    padding-left:12px;
    padding-right:12px;
    cursor:pointer;
    color:#333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#EDEDEE), to(#CDCDCD));
    background-image: -moz-linear-gradient(-90deg, #EDEDEE, #CDCDCD);
    border: 1px solid #666;
    border-right: 0px;
    line-height:20px;
    font-size: 9pt;
    font-variant:small-caps;
}

/* @end */