.logicalDeleted .gnrfield * {
    color: #f00;
}

/* @group toolbarbuttons */
.th_filterActive .th_filterButton {
    background: url(../icons/filter_active.png) center center no-repeat;
}

.th_filterButton {
    background: url(../icons/filter.png) center center no-repeat;
}

.tb_button {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.tb_listview {
    background: url(../icons/listview.gif) no-repeat center center;
}

.th_isFavoriteView .th_favoriteIcon, .th_isFavoriteQuery .th_favoriteIcon{
    background-color:lightyellow;
}

/* @end */

.topmsgcontainer {
    position: absolute;
    z-index: 999 !important;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.topmsgpane {
    width: 300px;
    background-color: white;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
}

/* @group editors */

.st_editor_bar {
    color: white;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    height: 20px;
    background-color: #666;
    padding: 1px;
}

.st_editor_title {
    margin-left: 15px;
    font-size: .85em;
    font-weight: bold;
}

.listbottompane {
    height: 27px;
    font-size: 0.9em;
    /* background-color:silver;
     -moz-box-shadow:4px 0px 6px #403b3b;
     -webkit-box-shadow:4px 0px 5px #403b3b;}*/
}

.st_editor_body {
    position: absolute;
    top: 20px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    overflow: auto;
    padding: 3px;
    background-color: #c3c3c3;
}

/* @end */

.hidden_record_checkbox {
    margin: 4px;
    margin-left: 15px;
}

.hidden_record_checkbox label {
    line-height: 15px;
    font-size: .9em;
    color: gray;
    font-weight: bold;
    margin-left: 0 !important;
    padding: 0 !important;
}

/* @group th_tree */

._alias_row .cellContent{
    font-style:italic;
}
._hieararchical_inherited .cellContent{
    opacity:.7;
}

/* @end */





