/* @group size16 */

.icon_16,.slotBar_16 .iconbox{
	height:16px;
	width: 16px;
	opacity: .7;
	cursor: pointer;
}
.slotBar_16 .dijitButtonHover .iconbox , .dijitButtonHover .icon_16, .icon_16:hover{
    opacity:1;
}

.alarm_16, .slotBar_16 .alarm{
	background: url(16/alarm.png) no-repeat center center;
}

.alarm_check_16, .slotBar_16 .alarm_check{
	background: url(16/alarm_check.png) no-repeat center center;
}

.alarm_off_16, .slotBar_16 .alarm_off{
	background: url(16/alarm_off.png) no-repeat center center;
}

.alarm_on_16, .slotBar_16 .alarm_on{
	background: url(16/alarm_on.png) no-repeat center center;
}

.app_16, .slotBar_16 .app{
	background: url(16/app.png) no-repeat center center;
}

.app_globe_16, .slotBar_16 .app_globe{
	background: url(16/app_globe.png) no-repeat center center;
}

.app_lock_16, .slotBar_16 .app_lock{
	background: url(16/app_lock.png) no-repeat center center;
}

.app_remove_16, .slotBar_16 .app_remove{
	background: url(16/app_remove.png) no-repeat center center;
}

.arrow_16, .slotBar_16 .arrow{
	background: url(16/arrow.png) no-repeat center center;
}

.arrow_circle_left_16, .slotBar_16 .arrow_circle_left{
	background: url(16/arrow_circle_left.png) no-repeat center center;
}

.arrow_circle_right_16, .slotBar_16 .arrow_circle_right{
	background: url(16/arrow_circle_right.png) no-repeat center center;
}

.arrow_down_16, .slotBar_16 .arrow_down{
	background: url(16/arrow_down.png) no-repeat center center;
}

.arrow_left_16, .slotBar_16 .arrow_left{
	background: url(16/arrow_left.png) no-repeat center center;
}

.arrow_right_16, .slotBar_16 .arrow_right{
	background: url(16/arrow_right.png) no-repeat center center;
}

.arrow_up_16, .slotBar_16 .arrow_up{
	background: url(16/arrow_up.png) no-repeat center center;
}

.attach_16, .slotBar_16 .attach{
	background: url(16/attach.png) no-repeat center center;
}

.auction_16, .slotBar_16 .auction{
	background: url(16/auction.png) no-repeat center center;
}

.book_16, .slotBar_16 .book{
	background: url(16/book.png) no-repeat center center;
}

.book_bookmark_16, .slotBar_16 .book_bookmark{
	background: url(16/book_bookmark.png) no-repeat center center;
}

.bookmark_16, .slotBar_16 .bookmark{
	background: url(16/bookmark.png) no-repeat center center;
}

.bookmark_add_16, .slotBar_16 .bookmark_add{
	background: url(16/bookmark_add.png) no-repeat center center;
}

.brightness_16, .slotBar_16 .brightness{
	background: url(16/brightness.png) no-repeat center center;
}

.brush_16, .slotBar_16 .brush{
	background: url(16/brush.png) no-repeat center center;
}

.bulb_off_16, .slotBar_16 .bulb_off{
	background: url(16/bulb_off.png) no-repeat center center;
}

.bulb_on_16, .slotBar_16 .bulb_on{
	background: url(16/bulb_on.png) no-repeat center center;
}

.calculator_16, .slotBar_16 .calculator{
	background: url(16/calculator.png) no-repeat center center;
}

.calendar_16, .slotBar_16 .calendar{
	background: url(16/calendar.png) no-repeat center center;
}

.cancel_16, .slotBar_16 .cancel{
	background: url(16/cancel.png) no-repeat center center;
}

.cart_16, .slotBar_16 .cart{
	background: url(16/cart.png) no-repeat center center;
}

.case_16, .slotBar_16 .case{
	background: url(16/case.png) no-repeat center center;
}

.chart_area_16, .slotBar_16 .chart_area{
	background: url(16/chart_area.png) no-repeat center center;
}

.chart_bar_16, .slotBar_16 .chart_bar{
	background: url(16/chart_bar.png) no-repeat center center;
}

.chart_bar1_16, .slotBar_16 .chart_bar1{
	background: url(16/chart_bar1.png) no-repeat center center;
}

.chart_bar_down_16, .slotBar_16 .chart_bar_down{
	background: url(16/chart_bar_down.png) no-repeat center center;
}

.chart_bar_up_16, .slotBar_16 .chart_bar_up{
	background: url(16/chart_bar_up.png) no-repeat center center;
}

.chart_down_16, .slotBar_16 .chart_down{
	background: url(16/chart_down.png) no-repeat center center;
}

.chart_line_16, .slotBar_16 .chart_line{
	background: url(16/chart_line.png) no-repeat center center;
}

.chart_pie_16, .slotBar_16 .chart_pie{
	background: url(16/chart_pie.png) no-repeat center center;
}

.chart_up_16, .slotBar_16 .chart_up{
	background: url(16/chart_up.png) no-repeat center center;
}

.checkmark_16, .slotBar_16 .checkmark{
	background: url(16/checkmark.png) no-repeat center center;
}

.clock_16, .slotBar_16 .clock{
	background: url(16/clock.png) no-repeat center center;
}

.comment_16, .slotBar_16 .comment{
	background: url(16/comment.png) no-repeat center center;
}

.comment_check_16, .slotBar_16 .comment_check{
	background: url(16/comment_check.png) no-repeat center center;
}

.comment_delete_16, .slotBar_16 .comment_delete{
	background: url(16/comment_delete.png) no-repeat center center;
}

.comment_minus_16, .slotBar_16 .comment_minus{
	background: url(16/comment_minus.png) no-repeat center center;
}

.comment_plus_16, .slotBar_16 .comment_plus{
	background: url(16/comment_plus.png) no-repeat center center;
}

.concole_16, .slotBar_16 .concole{
	background: url(16/concole.png) no-repeat center center;
}

.contrast_16, .slotBar_16 .contrast{
	background: url(16/contrast.png) no-repeat center center;
}

.copy_16, .slotBar_16 .copy{
	background: url(16/copy.png) no-repeat center center;
}

.credit_card_16, .slotBar_16 .credit_card{
	background: url(16/credit_card.png) no-repeat center center;
}

.cut_16, .slotBar_16 .cut{
	background: url(16/cut.png) no-repeat center center;
}

.delete_16, .slotBar_16 .delete{
	background: url(16/delete.png) no-repeat center center;
}

.disk_16, .slotBar_16 .disk{
	background: url(16/disk.png) no-repeat center center;
}

.display_off_16, .slotBar_16 .display_off{
	background: url(16/display_off.png) no-repeat center center;
}

.display_on_16, .slotBar_16 .display_on{
	background: url(16/display_on.png) no-repeat center center;
}

.document_16, .slotBar_16 .document{
	background: url(16/document.png) no-repeat center center;
}

.document_empty_16, .slotBar_16 .document_empty{
	background: url(16/document_empty.png) no-repeat center center;
}

.favorites_add_16, .slotBar_16 .favorites_add{
	background: url(16/favorites_add.png) no-repeat center center;
}

.favorites_remove_16, .slotBar_16 .favorites_remove{
	background: url(16/favorites_remove.png) no-repeat center center;
}

.film_16, .slotBar_16 .film{
	background: url(16/film.png) no-repeat center center;
}

.flag_16, .slotBar_16 .flag{
	background: url(16/flag.png) no-repeat center center;
}

.flag1_16, .slotBar_16 .flag1{
	background: url(16/flag1.png) no-repeat center center;
}

.flash_16, .slotBar_16 .flash{
	background: url(16/flash.png) no-repeat center center;
}

.folder_16, .slotBar_16 .folder{
	background: url(16/folder.png) no-repeat center center;
}

.folder_bookmark_16, .slotBar_16 .folder_bookmark{
	background: url(16/folder_bookmark.png) no-repeat center center;
}

.folder_in_16, .slotBar_16 .folder_in{
	background: url(16/folder_in.png) no-repeat center center;
}

.font_16, .slotBar_16 .font{
	background: url(16/font.png) no-repeat center center;
}

.font_case_16, .slotBar_16 .font_case{
	background: url(16/font_case.png) no-repeat center center;
}

.font_down_16, .slotBar_16 .font_down{
	background: url(16/font_down.png) no-repeat center center;
}

.font_italic_16, .slotBar_16 .font_italic{
	background: url(16/font_italic.png) no-repeat center center;
}

.font_p_16, .slotBar_16 .font_p{
	background: url(16/font_p.png) no-repeat center center;
}

.font_underline_16, .slotBar_16 .font_underline{
	background: url(16/font_underline.png) no-repeat center center;
}

.font_up_16, .slotBar_16 .font_up{
	background: url(16/font_up.png) no-repeat center center;
}

.frame_16, .slotBar_16 .frame{
	background: url(16/frame.png) no-repeat center center;
}

.gear_16, .slotBar_16 .gear{
	background: url(16/gear.png) no-repeat center center;
}

.globe_16, .slotBar_16 .globe{
	background: url(16/globe.png) no-repeat center center;
}

.hat_16, .slotBar_16 .hat{
	background: url(16/hat.png) no-repeat center center;
}

.heart_16, .slotBar_16 .heart{
	background: url(16/heart.png) no-repeat center center;
}

.help_16, .slotBar_16 .help{
	background: url(16/help.png) no-repeat center center;
}

.home_16, .slotBar_16 .home{
	background: url(16/home.png) no-repeat center center;
}

.inbox_16, .slotBar_16 .inbox{
	background: url(16/inbox.png) no-repeat center center;
}

.info_16, .slotBar_16 .info{
	background: url(16/info.png) no-repeat center center;
}

.key_16, .slotBar_16 .key{
	background: url(16/key.png) no-repeat center center;
}

.keyboard_16, .slotBar_16 .keyboard{
	background: url(16/keyboard.png) no-repeat center center;
}

.laptop_16, .slotBar_16 .laptop{
	background: url(16/laptop.png) no-repeat center center;
}

.link_16, .slotBar_16 .link{
	background: url(16/link.png) no-repeat center center;
}

.lock_16, .slotBar_16 .lock{
	background: url(16/lock.png) no-repeat center center;
}

.magnifier_16, .slotBar_16 .magnifier{
	background: url(16/magnifier.png) no-repeat center center;
}

.mail_16, .slotBar_16 .mail{
	background: url(16/mail.png) no-repeat center center;
}

.man_16, .slotBar_16 .man{
	background: url(16/man.png) no-repeat center center;
}

.med_16, .slotBar_16 .med{
	background: url(16/med.png) no-repeat center center;
}

.mic_16, .slotBar_16 .mic{
	background: url(16/mic.png) no-repeat center center;
}

.minus_16, .slotBar_16 .minus{
	background: url(16/minus.png) no-repeat center center;
}

.money_16, .slotBar_16 .money{
	background: url(16/money.png) no-repeat center center;
}

.moving_16, .slotBar_16 .moving{
	background: url(16/moving.png) no-repeat center center;
}

.note_16, .slotBar_16 .note{
	background: url(16/note.png) no-repeat center center;
}

.on_off_16, .slotBar_16 .on_off{
	background: url(16/on_off.png) no-repeat center center;
}

.outbox_16, .slotBar_16 .outbox{
	background: url(16/outbox.png) no-repeat center center;
}

.paint_16, .slotBar_16 .paint{
	background: url(16/paint.png) no-repeat center center;
}

.paper_plane_16, .slotBar_16 .paper_plane{
	background: url(16/paper_plane.png) no-repeat center center;
}

.pencil_16, .slotBar_16 .pencil{
	background: url(16/pencil.png) no-repeat center center;
}

.phone_16, .slotBar_16 .phone{
	background: url(16/phone.png) no-repeat center center;
}

.photo_16, .slotBar_16 .photo{
	background: url(16/photo.png) no-repeat center center;
}

.plus_16, .slotBar_16 .plus{
	background: url(16/plus.png) no-repeat center center;
}

.reload_16, .slotBar_16 .reload{
	background: url(16/reload.png) no-repeat center center;
}

.resize_16, .slotBar_16 .resize{
	background: url(16/resize.png) no-repeat center center;
}

.rss_16, .slotBar_16 .rss{
	background: url(16/rss.png) no-repeat center center;
}

.ruler_16, .slotBar_16 .ruler{
	background: url(16/ruler.png) no-repeat center center;
}

.safe_16, .slotBar_16 .safe{
	background: url(16/safe.png) no-repeat center center;
}

.save_16, .slotBar_16 .save{
	background: url(16/save.png) no-repeat center center;
}

.shopping_bag_16, .slotBar_16 .shopping_bag{
	background: url(16/shopping_bag.png) no-repeat center center;
}

.smile_16, .slotBar_16 .smile{
	background: url(16/smile.png) no-repeat center center;
}

.smile_sad_16, .slotBar_16 .smile_sad{
	background: url(16/smile_sad.png) no-repeat center center;
}

.sound_16, .slotBar_16 .sound{
	background: url(16/sound.png) no-repeat center center;
}

.spanner_16, .slotBar_16 .spanner{
	background: url(16/spanner.png) no-repeat center center;
}

.speaker_16, .slotBar_16 .speaker{
	background: url(16/speaker.png) no-repeat center center;
}

.star_16, .slotBar_16 .star{
	background: url(16/star.png) no-repeat center center;
}

.stop_16, .slotBar_16 .stop{
	background: url(16/stop.png) no-repeat center center;
}

.storage_16, .slotBar_16 .storage{
	background: url(16/storage.png) no-repeat center center;
}

.sum_16, .slotBar_16 .sum{
	background: url(16/sum.png) no-repeat center center;
}

.tag_16, .slotBar_16 .tag{
	background: url(16/tag.png) no-repeat center center;
}

.tag_add_16, .slotBar_16 .tag_add{
	background: url(16/tag_add.png) no-repeat center center;
}

.tag_cancel_16, .slotBar_16 .tag_cancel{
	background: url(16/tag_cancel.png) no-repeat center center;
}

.tag_remove_16, .slotBar_16 .tag_remove{
	background: url(16/tag_remove.png) no-repeat center center;
}

.trash_16, .slotBar_16 .trash{
	background: url(16/trash.png) no-repeat center center;
}

.trash_mac_16, .slotBar_16 .trash_mac{
	background: url(16/trash_mac.png) no-repeat center center;
}

.tray_16, .slotBar_16 .tray{
	background: url(16/tray.png) no-repeat center center;
}

.tray_full_16, .slotBar_16 .tray_full{
	background: url(16/tray_full.png) no-repeat center center;
}

.tray_mail_16, .slotBar_16 .tray_mail{
	background: url(16/tray_mail.png) no-repeat center center;
}

.twg_logo_16, .slotBar_16 .twg_logo{
	background: url(16/twg_logo.png) no-repeat center center;
}

.unlock_16, .slotBar_16 .unlock{
	background: url(16/unlock.png) no-repeat center center;
}

.video_16, .slotBar_16 .video{
	background: url(16/video.png) no-repeat center center;
}

.video_forward_16, .slotBar_16 .video_forward{
	background: url(16/video_forward.png) no-repeat center center;
}

.video_next_16, .slotBar_16 .video_next{
	background: url(16/video_next.png) no-repeat center center;
}

.video_pause_16, .slotBar_16 .video_pause{
	background: url(16/video_pause.png) no-repeat center center;
}

.video_play_16, .slotBar_16 .video_play{
	background: url(16/video_play.png) no-repeat center center;
}

.video_previous_16, .slotBar_16 .video_previous{
	background: url(16/video_previous.png) no-repeat center center;
}

.video_rec_16, .slotBar_16 .video_rec{
	background: url(16/video_rec.png) no-repeat center center;
}

.volume_down_16, .slotBar_16 .volume_down{
	background: url(16/volume_down.png) no-repeat center center;
}

.volume_up_16, .slotBar_16 .volume_up{
	background: url(16/volume_up.png) no-repeat center center;
}

.wallet_16, .slotBar_16 .wallet{
	background: url(16/wallet.png) no-repeat center center;
}

.warning_16, .slotBar_16 .warning{
	background: url(16/warning.png) no-repeat center center;
}

.warning1_16, .slotBar_16 .warning1{
	background: url(16/warning1.png) no-repeat center center;
}

.wifi_16, .slotBar_16 .wifi{
	background: url(16/wifi.png) no-repeat center center;
}

.zoom_in_16, .slotBar_16 .zoom_in{
	background: url(16/zoom_in.png) no-repeat center center;
}

.zoom_out_16, .slotBar_16 .zoom_out{
	background: url(16/zoom_out.png) no-repeat center center;
}
/* @end */


/* @group size24 */

.icon_24,.slotBar_24 .iconbox{
	height:24px;
	width: 24px;
	opacity: .7;
	cursor: pointer;
}
.slotBar_24 .dijitButtonHover .iconbox , .dijitButtonHover .icon_24, .icon_24:hover{
    opacity:1;
}


.alarm_24, .slotBar_24 .alarm{
	background: url(24/alarm.png) no-repeat center center;
}

.alarm_check_24, .slotBar_24 .alarm_check{
	background: url(24/alarm_check.png) no-repeat center center;
}

.alarm_off_24, .slotBar_24 .alarm_off{
	background: url(24/alarm_off.png) no-repeat center center;
}

.alarm_on_24, .slotBar_24 .alarm_on{
	background: url(24/alarm_on.png) no-repeat center center;
}

.app_24, .slotBar_24 .app{
	background: url(24/app.png) no-repeat center center;
}

.app_globe_24, .slotBar_24 .app_globe{
	background: url(24/app_globe.png) no-repeat center center;
}

.app_lock_24, .slotBar_24 .app_lock{
	background: url(24/app_lock.png) no-repeat center center;
}

.app_remove_24, .slotBar_24 .app_remove{
	background: url(24/app_remove.png) no-repeat center center;
}

.arrow_24, .slotBar_24 .arrow{
	background: url(24/arrow.png) no-repeat center center;
}

.arrow_circle_left_24, .slotBar_24 .arrow_circle_left{
	background: url(24/arrow_circle_left.png) no-repeat center center;
}

.arrow_circle_right_24, .slotBar_24 .arrow_circle_right{
	background: url(24/arrow_circle_right.png) no-repeat center center;
}

.arrow_down_24, .slotBar_24 .arrow_down{
	background: url(24/arrow_down.png) no-repeat center center;
}

.arrow_left_24, .slotBar_24 .arrow_left{
	background: url(24/arrow_left.png) no-repeat center center;
}

.arrow_right_24, .slotBar_24 .arrow_right{
	background: url(24/arrow_right.png) no-repeat center center;
}

.arrow_up_24, .slotBar_24 .arrow_up{
	background: url(24/arrow_up.png) no-repeat center center;
}

.attach_24, .slotBar_24 .attach{
	background: url(24/attach.png) no-repeat center center;
}

.auction_24, .slotBar_24 .auction{
	background: url(24/auction.png) no-repeat center center;
}

.book_24, .slotBar_24 .book{
	background: url(24/book.png) no-repeat center center;
}

.book_bookmark_24, .slotBar_24 .book_bookmark{
	background: url(24/book_bookmark.png) no-repeat center center;
}

.bookmark_24, .slotBar_24 .bookmark{
	background: url(24/bookmark.png) no-repeat center center;
}

.bookmark_add_24, .slotBar_24 .bookmark_add{
	background: url(24/bookmark_add.png) no-repeat center center;
}

.brightness_24, .slotBar_24 .brightness{
	background: url(24/brightness.png) no-repeat center center;
}

.brush_24, .slotBar_24 .brush{
	background: url(24/brush.png) no-repeat center center;
}

.bulb_off_24, .slotBar_24 .bulb_off{
	background: url(24/bulb_off.png) no-repeat center center;
}

.bulb_on_24, .slotBar_24 .bulb_on{
	background: url(24/bulb_on.png) no-repeat center center;
}

.calculator_24, .slotBar_24 .calculator{
	background: url(24/calculator.png) no-repeat center center;
}

.calendar_24, .slotBar_24 .calendar{
	background: url(24/calendar.png) no-repeat center center;
}

.cancel_24, .slotBar_24 .cancel{
	background: url(24/cancel.png) no-repeat center center;
}

.cart_24, .slotBar_24 .cart{
	background: url(24/cart.png) no-repeat center center;
}

.case_24, .slotBar_24 .case{
	background: url(24/case.png) no-repeat center center;
}

.chart_area_24, .slotBar_24 .chart_area{
	background: url(24/chart_area.png) no-repeat center center;
}

.chart_bar_24, .slotBar_24 .chart_bar{
	background: url(24/chart_bar.png) no-repeat center center;
}

.chart_bar1_24, .slotBar_24 .chart_bar1{
	background: url(24/chart_bar1.png) no-repeat center center;
}

.chart_bar_down_24, .slotBar_24 .chart_bar_down{
	background: url(24/chart_bar_down.png) no-repeat center center;
}

.chart_bar_up_24, .slotBar_24 .chart_bar_up{
	background: url(24/chart_bar_up.png) no-repeat center center;
}

.chart_down_24, .slotBar_24 .chart_down{
	background: url(24/chart_down.png) no-repeat center center;
}

.chart_line_24, .slotBar_24 .chart_line{
	background: url(24/chart_line.png) no-repeat center center;
}

.chart_pie_24, .slotBar_24 .chart_pie{
	background: url(24/chart_pie.png) no-repeat center center;
}

.chart_up_24, .slotBar_24 .chart_up{
	background: url(24/chart_up.png) no-repeat center center;
}

.checkmark_24, .slotBar_24 .checkmark{
	background: url(24/checkmark.png) no-repeat center center;
}

.clock_24, .slotBar_24 .clock{
	background: url(24/clock.png) no-repeat center center;
}

.comment_24, .slotBar_24 .comment{
	background: url(24/comment.png) no-repeat center center;
}

.comment_check_24, .slotBar_24 .comment_check{
	background: url(24/comment_check.png) no-repeat center center;
}

.comment_delete_24, .slotBar_24 .comment_delete{
	background: url(24/comment_delete.png) no-repeat center center;
}

.comment_minus_24, .slotBar_24 .comment_minus{
	background: url(24/comment_minus.png) no-repeat center center;
}

.comment_plus_24, .slotBar_24 .comment_plus{
	background: url(24/comment_plus.png) no-repeat center center;
}

.concole_24, .slotBar_24 .concole{
	background: url(24/concole.png) no-repeat center center;
}

.contrast_24, .slotBar_24 .contrast{
	background: url(24/contrast.png) no-repeat center center;
}

.copy_24, .slotBar_24 .copy{
	background: url(24/copy.png) no-repeat center center;
}

.credit_card_24, .slotBar_24 .credit_card{
	background: url(24/credit_card.png) no-repeat center center;
}

.cut_24, .slotBar_24 .cut{
	background: url(24/cut.png) no-repeat center center;
}

.delete_24, .slotBar_24 .delete{
	background: url(24/delete.png) no-repeat center center;
}

.disk_24, .slotBar_24 .disk{
	background: url(24/disk.png) no-repeat center center;
}

.display_off_24, .slotBar_24 .display_off{
	background: url(24/display_off.png) no-repeat center center;
}

.display_on_24, .slotBar_24 .display_on{
	background: url(24/display_on.png) no-repeat center center;
}

.document_24, .slotBar_24 .document{
	background: url(24/document.png) no-repeat center center;
}

.document_empty_24, .slotBar_24 .document_empty{
	background: url(24/document_empty.png) no-repeat center center;
}

.favorites_add_24, .slotBar_24 .favorites_add{
	background: url(24/favorites_add.png) no-repeat center center;
}

.favorites_remove_24, .slotBar_24 .favorites_remove{
	background: url(24/favorites_remove.png) no-repeat center center;
}

.film_24, .slotBar_24 .film{
	background: url(24/film.png) no-repeat center center;
}

.flag_24, .slotBar_24 .flag{
	background: url(24/flag.png) no-repeat center center;
}

.flag1_24, .slotBar_24 .flag1{
	background: url(24/flag1.png) no-repeat center center;
}

.flash_24, .slotBar_24 .flash{
	background: url(24/flash.png) no-repeat center center;
}

.folder_24, .slotBar_24 .folder{
	background: url(24/folder.png) no-repeat center center;
}

.folder_bookmark_24, .slotBar_24 .folder_bookmark{
	background: url(24/folder_bookmark.png) no-repeat center center;
}

.folder_in_24, .slotBar_24 .folder_in{
	background: url(24/folder_in.png) no-repeat center center;
}

.font_24, .slotBar_24 .font{
	background: url(24/font.png) no-repeat center center;
}

.font_case_24, .slotBar_24 .font_case{
	background: url(24/font_case.png) no-repeat center center;
}

.font_down_24, .slotBar_24 .font_down{
	background: url(24/font_down.png) no-repeat center center;
}

.font_italic_24, .slotBar_24 .font_italic{
	background: url(24/font_italic.png) no-repeat center center;
}

.font_p_24, .slotBar_24 .font_p{
	background: url(24/font_p.png) no-repeat center center;
}

.font_underline_24, .slotBar_24 .font_underline{
	background: url(24/font_underline.png) no-repeat center center;
}

.font_up_24, .slotBar_24 .font_up{
	background: url(24/font_up.png) no-repeat center center;
}

.frame_24, .slotBar_24 .frame{
	background: url(24/frame.png) no-repeat center center;
}

.gear_24, .slotBar_24 .gear{
	background: url(24/gear.png) no-repeat center center;
}

.globe_24, .slotBar_24 .globe{
	background: url(24/globe.png) no-repeat center center;
}

.hat_24, .slotBar_24 .hat{
	background: url(24/hat.png) no-repeat center center;
}

.heart_24, .slotBar_24 .heart{
	background: url(24/heart.png) no-repeat center center;
}

.help_24, .slotBar_24 .help{
	background: url(24/help.png) no-repeat center center;
}

.home_24, .slotBar_24 .home{
	background: url(24/home.png) no-repeat center center;
}

.inbox_24, .slotBar_24 .inbox{
	background: url(24/inbox.png) no-repeat center center;
}

.info_24, .slotBar_24 .info{
	background: url(24/info.png) no-repeat center center;
}

.key_24, .slotBar_24 .key{
	background: url(24/key.png) no-repeat center center;
}

.keyboard_24, .slotBar_24 .keyboard{
	background: url(24/keyboard.png) no-repeat center center;
}

.laptop_24, .slotBar_24 .laptop{
	background: url(24/laptop.png) no-repeat center center;
}

.link_24, .slotBar_24 .link{
	background: url(24/link.png) no-repeat center center;
}

.lock_24, .slotBar_24 .lock{
	background: url(24/lock.png) no-repeat center center;
}

.magnifier_24, .slotBar_24 .magnifier{
	background: url(24/magnifier.png) no-repeat center center;
}

.mail_24, .slotBar_24 .mail{
	background: url(24/mail.png) no-repeat center center;
}

.man_24, .slotBar_24 .man{
	background: url(24/man.png) no-repeat center center;
}

.med_24, .slotBar_24 .med{
	background: url(24/med.png) no-repeat center center;
}

.mic_24, .slotBar_24 .mic{
	background: url(24/mic.png) no-repeat center center;
}

.minus_24, .slotBar_24 .minus{
	background: url(24/minus.png) no-repeat center center;
}

.money_24, .slotBar_24 .money{
	background: url(24/money.png) no-repeat center center;
}

.moving_24, .slotBar_24 .moving{
	background: url(24/moving.png) no-repeat center center;
}

.note_24, .slotBar_24 .note{
	background: url(24/note.png) no-repeat center center;
}

.on_off_24, .slotBar_24 .on_off{
	background: url(24/on_off.png) no-repeat center center;
}

.outbox_24, .slotBar_24 .outbox{
	background: url(24/outbox.png) no-repeat center center;
}

.paint_24, .slotBar_24 .paint{
	background: url(24/paint.png) no-repeat center center;
}

.paper_plane_24, .slotBar_24 .paper_plane{
	background: url(24/paper_plane.png) no-repeat center center;
}

.pencil_24, .slotBar_24 .pencil{
	background: url(24/pencil.png) no-repeat center center;
}

.phone_24, .slotBar_24 .phone{
	background: url(24/phone.png) no-repeat center center;
}

.photo_24, .slotBar_24 .photo{
	background: url(24/photo.png) no-repeat center center;
}

.plus_24, .slotBar_24 .plus{
	background: url(24/plus.png) no-repeat center center;
}

.reload_24, .slotBar_24 .reload{
	background: url(24/reload.png) no-repeat center center;
}

.resize_24, .slotBar_24 .resize{
	background: url(24/resize.png) no-repeat center center;
}

.rss_24, .slotBar_24 .rss{
	background: url(24/rss.png) no-repeat center center;
}

.ruler_24, .slotBar_24 .ruler{
	background: url(24/ruler.png) no-repeat center center;
}

.safe_24, .slotBar_24 .safe{
	background: url(24/safe.png) no-repeat center center;
}

.save_24, .slotBar_24 .save{
	background: url(24/save.png) no-repeat center center;
}

.shopping_bag_24, .slotBar_24 .shopping_bag{
	background: url(24/shopping_bag.png) no-repeat center center;
}

.smile_24, .slotBar_24 .smile{
	background: url(24/smile.png) no-repeat center center;
}

.smile_sad_24, .slotBar_24 .smile_sad{
	background: url(24/smile_sad.png) no-repeat center center;
}

.sound_24, .slotBar_24 .sound{
	background: url(24/sound.png) no-repeat center center;
}

.spanner_24, .slotBar_24 .spanner{
	background: url(24/spanner.png) no-repeat center center;
}

.speaker_24, .slotBar_24 .speaker{
	background: url(24/speaker.png) no-repeat center center;
}

.star_24, .slotBar_24 .star{
	background: url(24/star.png) no-repeat center center;
}

.stop_24, .slotBar_24 .stop{
	background: url(24/stop.png) no-repeat center center;
}

.storage_24, .slotBar_24 .storage{
	background: url(24/storage.png) no-repeat center center;
}

.sum_24, .slotBar_24 .sum{
	background: url(24/sum.png) no-repeat center center;
}

.tag_24, .slotBar_24 .tag{
	background: url(24/tag.png) no-repeat center center;
}

.tag_add_24, .slotBar_24 .tag_add{
	background: url(24/tag_add.png) no-repeat center center;
}

.tag_cancel_24, .slotBar_24 .tag_cancel{
	background: url(24/tag_cancel.png) no-repeat center center;
}

.tag_remove_24, .slotBar_24 .tag_remove{
	background: url(24/tag_remove.png) no-repeat center center;
}

.trash_24, .slotBar_24 .trash{
	background: url(24/trash.png) no-repeat center center;
}

.trash_mac_24, .slotBar_24 .trash_mac{
	background: url(24/trash_mac.png) no-repeat center center;
}

.tray_24, .slotBar_24 .tray{
	background: url(24/tray.png) no-repeat center center;
}

.tray_full_24, .slotBar_24 .tray_full{
	background: url(24/tray_full.png) no-repeat center center;
}

.tray_mail_24, .slotBar_24 .tray_mail{
	background: url(24/tray_mail.png) no-repeat center center;
}

.twg_logo_24, .slotBar_24 .twg_logo{
	background: url(24/twg_logo.png) no-repeat center center;
}

.unlock_24, .slotBar_24 .unlock{
	background: url(24/unlock.png) no-repeat center center;
}

.video_24, .slotBar_24 .video{
	background: url(24/video.png) no-repeat center center;
}

.video_forward_24, .slotBar_24 .video_forward{
	background: url(24/video_forward.png) no-repeat center center;
}

.video_next_24, .slotBar_24 .video_next{
	background: url(24/video_next.png) no-repeat center center;
}

.video_pause_24, .slotBar_24 .video_pause{
	background: url(24/video_pause.png) no-repeat center center;
}

.video_play_24, .slotBar_24 .video_play{
	background: url(24/video_play.png) no-repeat center center;
}

.video_previous_24, .slotBar_24 .video_previous{
	background: url(24/video_previous.png) no-repeat center center;
}

.video_rec_24, .slotBar_24 .video_rec{
	background: url(24/video_rec.png) no-repeat center center;
}

.volume_down_24, .slotBar_24 .volume_down{
	background: url(24/volume_down.png) no-repeat center center;
}

.volume_up_24, .slotBar_24 .volume_up{
	background: url(24/volume_up.png) no-repeat center center;
}

.wallet_24, .slotBar_24 .wallet{
	background: url(24/wallet.png) no-repeat center center;
}

.warning_24, .slotBar_24 .warning{
	background: url(24/warning.png) no-repeat center center;
}

.warning1_24, .slotBar_24 .warning1{
	background: url(24/warning1.png) no-repeat center center;
}

.wifi_24, .slotBar_24 .wifi{
	background: url(24/wifi.png) no-repeat center center;
}

.zoom_in_24, .slotBar_24 .zoom_in{
	background: url(24/zoom_in.png) no-repeat center center;
}

.zoom_out_24, .slotBar_24 .zoom_out{
	background: url(24/zoom_out.png) no-repeat center center;
}
/* @end */


/* @group size48 */

.icon_48,.slotBar_48 .iconbox{
	height:48px;
	width: 48px;
	opacity: .7;
	cursor: pointer;
}
.slotBar_48 .dijitButtonHover .iconbox , .dijitButtonHover .icon_48, .icon_48:hover{
    opacity:1;
}


.alarm_48, .slotBar_48 .alarm{
	background: url(48/alarm.png) no-repeat center center;
}

.alarm_check_48, .slotBar_48 .alarm_check{
	background: url(48/alarm_check.png) no-repeat center center;
}

.alarm_off_48, .slotBar_48 .alarm_off{
	background: url(48/alarm_off.png) no-repeat center center;
}

.alarm_on_48, .slotBar_48 .alarm_on{
	background: url(48/alarm_on.png) no-repeat center center;
}

.app_48, .slotBar_48 .app{
	background: url(48/app.png) no-repeat center center;
}

.app_globe_48, .slotBar_48 .app_globe{
	background: url(48/app_globe.png) no-repeat center center;
}

.app_lock_48, .slotBar_48 .app_lock{
	background: url(48/app_lock.png) no-repeat center center;
}

.app_remove_48, .slotBar_48 .app_remove{
	background: url(48/app_remove.png) no-repeat center center;
}

.arrow_48, .slotBar_48 .arrow{
	background: url(48/arrow.png) no-repeat center center;
}

.arrow_circle_left_48, .slotBar_48 .arrow_circle_left{
	background: url(48/arrow_circle_left.png) no-repeat center center;
}

.arrow_circle_right_48, .slotBar_48 .arrow_circle_right{
	background: url(48/arrow_circle_right.png) no-repeat center center;
}

.arrow_down_48, .slotBar_48 .arrow_down{
	background: url(48/arrow_down.png) no-repeat center center;
}

.arrow_left_48, .slotBar_48 .arrow_left{
	background: url(48/arrow_left.png) no-repeat center center;
}

.arrow_right_48, .slotBar_48 .arrow_right{
	background: url(48/arrow_right.png) no-repeat center center;
}

.arrow_up_48, .slotBar_48 .arrow_up{
	background: url(48/arrow_up.png) no-repeat center center;
}

.attach_48, .slotBar_48 .attach{
	background: url(48/attach.png) no-repeat center center;
}

.auction_48, .slotBar_48 .auction{
	background: url(48/auction.png) no-repeat center center;
}

.book_48, .slotBar_48 .book{
	background: url(48/book.png) no-repeat center center;
}

.book_bookmark_48, .slotBar_48 .book_bookmark{
	background: url(48/book_bookmark.png) no-repeat center center;
}

.bookmark_48, .slotBar_48 .bookmark{
	background: url(48/bookmark.png) no-repeat center center;
}

.bookmark_add_48, .slotBar_48 .bookmark_add{
	background: url(48/bookmark_add.png) no-repeat center center;
}

.brightness_48, .slotBar_48 .brightness{
	background: url(48/brightness.png) no-repeat center center;
}

.brush_48, .slotBar_48 .brush{
	background: url(48/brush.png) no-repeat center center;
}

.bulb_off_48, .slotBar_48 .bulb_off{
	background: url(48/bulb_off.png) no-repeat center center;
}

.bulb_on_48, .slotBar_48 .bulb_on{
	background: url(48/bulb_on.png) no-repeat center center;
}

.calculator_48, .slotBar_48 .calculator{
	background: url(48/calculator.png) no-repeat center center;
}

.calendar_48, .slotBar_48 .calendar{
	background: url(48/calendar.png) no-repeat center center;
}

.cancel_48, .slotBar_48 .cancel{
	background: url(48/cancel.png) no-repeat center center;
}

.cart_48, .slotBar_48 .cart{
	background: url(48/cart.png) no-repeat center center;
}

.case_48, .slotBar_48 .case{
	background: url(48/case.png) no-repeat center center;
}

.chart_area_48, .slotBar_48 .chart_area{
	background: url(48/chart_area.png) no-repeat center center;
}

.chart_bar_48, .slotBar_48 .chart_bar{
	background: url(48/chart_bar.png) no-repeat center center;
}

.chart_bar1_48, .slotBar_48 .chart_bar1{
	background: url(48/chart_bar1.png) no-repeat center center;
}

.chart_bar_down_48, .slotBar_48 .chart_bar_down{
	background: url(48/chart_bar_down.png) no-repeat center center;
}

.chart_bar_up_48, .slotBar_48 .chart_bar_up{
	background: url(48/chart_bar_up.png) no-repeat center center;
}

.chart_down_48, .slotBar_48 .chart_down{
	background: url(48/chart_down.png) no-repeat center center;
}

.chart_line_48, .slotBar_48 .chart_line{
	background: url(48/chart_line.png) no-repeat center center;
}

.chart_pie_48, .slotBar_48 .chart_pie{
	background: url(48/chart_pie.png) no-repeat center center;
}

.chart_up_48, .slotBar_48 .chart_up{
	background: url(48/chart_up.png) no-repeat center center;
}

.checkmark_48, .slotBar_48 .checkmark{
	background: url(48/checkmark.png) no-repeat center center;
}

.clock_48, .slotBar_48 .clock{
	background: url(48/clock.png) no-repeat center center;
}

.comment_48, .slotBar_48 .comment{
	background: url(48/comment.png) no-repeat center center;
}

.comment_check_48, .slotBar_48 .comment_check{
	background: url(48/comment_check.png) no-repeat center center;
}

.comment_delete_48, .slotBar_48 .comment_delete{
	background: url(48/comment_delete.png) no-repeat center center;
}

.comment_minus_48, .slotBar_48 .comment_minus{
	background: url(48/comment_minus.png) no-repeat center center;
}

.comment_plus_48, .slotBar_48 .comment_plus{
	background: url(48/comment_plus.png) no-repeat center center;
}

.concole_48, .slotBar_48 .concole{
	background: url(48/concole.png) no-repeat center center;
}

.contrast_48, .slotBar_48 .contrast{
	background: url(48/contrast.png) no-repeat center center;
}

.copy_48, .slotBar_48 .copy{
	background: url(48/copy.png) no-repeat center center;
}

.credit_card_48, .slotBar_48 .credit_card{
	background: url(48/credit_card.png) no-repeat center center;
}

.cut_48, .slotBar_48 .cut{
	background: url(48/cut.png) no-repeat center center;
}

.delete_48, .slotBar_48 .delete{
	background: url(48/delete.png) no-repeat center center;
}

.disk_48, .slotBar_48 .disk{
	background: url(48/disk.png) no-repeat center center;
}

.display_off_48, .slotBar_48 .display_off{
	background: url(48/display_off.png) no-repeat center center;
}

.display_on_48, .slotBar_48 .display_on{
	background: url(48/display_on.png) no-repeat center center;
}

.document_48, .slotBar_48 .document{
	background: url(48/document.png) no-repeat center center;
}

.document_empty_48, .slotBar_48 .document_empty{
	background: url(48/document_empty.png) no-repeat center center;
}

.favorites_add_48, .slotBar_48 .favorites_add{
	background: url(48/favorites_add.png) no-repeat center center;
}

.favorites_remove_48, .slotBar_48 .favorites_remove{
	background: url(48/favorites_remove.png) no-repeat center center;
}

.film_48, .slotBar_48 .film{
	background: url(48/film.png) no-repeat center center;
}

.flag_48, .slotBar_48 .flag{
	background: url(48/flag.png) no-repeat center center;
}

.flag1_48, .slotBar_48 .flag1{
	background: url(48/flag1.png) no-repeat center center;
}

.flash_48, .slotBar_48 .flash{
	background: url(48/flash.png) no-repeat center center;
}

.folder_48, .slotBar_48 .folder{
	background: url(48/folder.png) no-repeat center center;
}

.folder_bookmark_48, .slotBar_48 .folder_bookmark{
	background: url(48/folder_bookmark.png) no-repeat center center;
}

.folder_in_48, .slotBar_48 .folder_in{
	background: url(48/folder_in.png) no-repeat center center;
}

.font_48, .slotBar_48 .font{
	background: url(48/font.png) no-repeat center center;
}

.font_case_48, .slotBar_48 .font_case{
	background: url(48/font_case.png) no-repeat center center;
}

.font_down_48, .slotBar_48 .font_down{
	background: url(48/font_down.png) no-repeat center center;
}

.font_italic_48, .slotBar_48 .font_italic{
	background: url(48/font_italic.png) no-repeat center center;
}

.font_p_48, .slotBar_48 .font_p{
	background: url(48/font_p.png) no-repeat center center;
}

.font_underline_48, .slotBar_48 .font_underline{
	background: url(48/font_underline.png) no-repeat center center;
}

.font_up_48, .slotBar_48 .font_up{
	background: url(48/font_up.png) no-repeat center center;
}

.frame_48, .slotBar_48 .frame{
	background: url(48/frame.png) no-repeat center center;
}

.gear_48, .slotBar_48 .gear{
	background: url(48/gear.png) no-repeat center center;
}

.globe_48, .slotBar_48 .globe{
	background: url(48/globe.png) no-repeat center center;
}

.hat_48, .slotBar_48 .hat{
	background: url(48/hat.png) no-repeat center center;
}

.heart_48, .slotBar_48 .heart{
	background: url(48/heart.png) no-repeat center center;
}

.help_48, .slotBar_48 .help{
	background: url(48/help.png) no-repeat center center;
}

.home_48, .slotBar_48 .home{
	background: url(48/home.png) no-repeat center center;
}

.inbox_48, .slotBar_48 .inbox{
	background: url(48/inbox.png) no-repeat center center;
}

.info_48, .slotBar_48 .info{
	background: url(48/info.png) no-repeat center center;
}

.key_48, .slotBar_48 .key{
	background: url(48/key.png) no-repeat center center;
}

.keyboard_48, .slotBar_48 .keyboard{
	background: url(48/keyboard.png) no-repeat center center;
}

.laptop_48, .slotBar_48 .laptop{
	background: url(48/laptop.png) no-repeat center center;
}

.link_48, .slotBar_48 .link{
	background: url(48/link.png) no-repeat center center;
}

.lock_48, .slotBar_48 .lock{
	background: url(48/lock.png) no-repeat center center;
}

.magnifier_48, .slotBar_48 .magnifier{
	background: url(48/magnifier.png) no-repeat center center;
}

.mail_48, .slotBar_48 .mail{
	background: url(48/mail.png) no-repeat center center;
}

.man_48, .slotBar_48 .man{
	background: url(48/man.png) no-repeat center center;
}

.med_48, .slotBar_48 .med{
	background: url(48/med.png) no-repeat center center;
}

.mic_48, .slotBar_48 .mic{
	background: url(48/mic.png) no-repeat center center;
}

.minus_48, .slotBar_48 .minus{
	background: url(48/minus.png) no-repeat center center;
}

.money_48, .slotBar_48 .money{
	background: url(48/money.png) no-repeat center center;
}

.moving_48, .slotBar_48 .moving{
	background: url(48/moving.png) no-repeat center center;
}

.note_48, .slotBar_48 .note{
	background: url(48/note.png) no-repeat center center;
}

.on_off_48, .slotBar_48 .on_off{
	background: url(48/on_off.png) no-repeat center center;
}

.outbox_48, .slotBar_48 .outbox{
	background: url(48/outbox.png) no-repeat center center;
}

.paint_48, .slotBar_48 .paint{
	background: url(48/paint.png) no-repeat center center;
}

.paper_plane_48, .slotBar_48 .paper_plane{
	background: url(48/paper_plane.png) no-repeat center center;
}

.pencil_48, .slotBar_48 .pencil{
	background: url(48/pencil.png) no-repeat center center;
}

.phone_48, .slotBar_48 .phone{
	background: url(48/phone.png) no-repeat center center;
}

.photo_48, .slotBar_48 .photo{
	background: url(48/photo.png) no-repeat center center;
}

.plus_48, .slotBar_48 .plus{
	background: url(48/plus.png) no-repeat center center;
}

.reload_48, .slotBar_48 .reload{
	background: url(48/reload.png) no-repeat center center;
}

.resize_48, .slotBar_48 .resize{
	background: url(48/resize.png) no-repeat center center;
}

.rss_48, .slotBar_48 .rss{
	background: url(48/rss.png) no-repeat center center;
}

.ruler_48, .slotBar_48 .ruler{
	background: url(48/ruler.png) no-repeat center center;
}

.safe_48, .slotBar_48 .safe{
	background: url(48/safe.png) no-repeat center center;
}

.save_48, .slotBar_48 .save{
	background: url(48/save.png) no-repeat center center;
}

.shopping_bag_48, .slotBar_48 .shopping_bag{
	background: url(48/shopping_bag.png) no-repeat center center;
}

.smile_48, .slotBar_48 .smile{
	background: url(48/smile.png) no-repeat center center;
}

.smile_sad_48, .slotBar_48 .smile_sad{
	background: url(48/smile_sad.png) no-repeat center center;
}

.sound_48, .slotBar_48 .sound{
	background: url(48/sound.png) no-repeat center center;
}

.spanner_48, .slotBar_48 .spanner{
	background: url(48/spanner.png) no-repeat center center;
}

.speaker_48, .slotBar_48 .speaker{
	background: url(48/speaker.png) no-repeat center center;
}

.star_48, .slotBar_48 .star{
	background: url(48/star.png) no-repeat center center;
}

.stop_48, .slotBar_48 .stop{
	background: url(48/stop.png) no-repeat center center;
}

.storage_48, .slotBar_48 .storage{
	background: url(48/storage.png) no-repeat center center;
}

.sum_48, .slotBar_48 .sum{
	background: url(48/sum.png) no-repeat center center;
}

.tag_48, .slotBar_48 .tag{
	background: url(48/tag.png) no-repeat center center;
}

.tag_add_48, .slotBar_48 .tag_add{
	background: url(48/tag_add.png) no-repeat center center;
}

.tag_cancel_48, .slotBar_48 .tag_cancel{
	background: url(48/tag_cancel.png) no-repeat center center;
}

.tag_remove_48, .slotBar_48 .tag_remove{
	background: url(48/tag_remove.png) no-repeat center center;
}

.trash_48, .slotBar_48 .trash{
	background: url(48/trash.png) no-repeat center center;
}

.trash_mac_48, .slotBar_48 .trash_mac{
	background: url(48/trash_mac.png) no-repeat center center;
}

.tray_48, .slotBar_48 .tray{
	background: url(48/tray.png) no-repeat center center;
}

.tray_full_48, .slotBar_48 .tray_full{
	background: url(48/tray_full.png) no-repeat center center;
}

.tray_mail_48, .slotBar_48 .tray_mail{
	background: url(48/tray_mail.png) no-repeat center center;
}

.twg_logo_48, .slotBar_48 .twg_logo{
	background: url(48/twg_logo.png) no-repeat center center;
}

.unlock_48, .slotBar_48 .unlock{
	background: url(48/unlock.png) no-repeat center center;
}

.video_48, .slotBar_48 .video{
	background: url(48/video.png) no-repeat center center;
}

.video_forward_48, .slotBar_48 .video_forward{
	background: url(48/video_forward.png) no-repeat center center;
}

.video_next_48, .slotBar_48 .video_next{
	background: url(48/video_next.png) no-repeat center center;
}

.video_pause_48, .slotBar_48 .video_pause{
	background: url(48/video_pause.png) no-repeat center center;
}

.video_play_48, .slotBar_48 .video_play{
	background: url(48/video_play.png) no-repeat center center;
}

.video_previous_48, .slotBar_48 .video_previous{
	background: url(48/video_previous.png) no-repeat center center;
}

.video_rec_48, .slotBar_48 .video_rec{
	background: url(48/video_rec.png) no-repeat center center;
}

.volume_down_48, .slotBar_48 .volume_down{
	background: url(48/volume_down.png) no-repeat center center;
}

.volume_up_48, .slotBar_48 .volume_up{
	background: url(48/volume_up.png) no-repeat center center;
}

.wallet_48, .slotBar_48 .wallet{
	background: url(48/wallet.png) no-repeat center center;
}

.warning_48, .slotBar_48 .warning{
	background: url(48/warning.png) no-repeat center center;
}

.warning1_48, .slotBar_48 .warning1{
	background: url(48/warning1.png) no-repeat center center;
}

.wifi_48, .slotBar_48 .wifi{
	background: url(48/wifi.png) no-repeat center center;
}

.zoom_in_48, .slotBar_48 .zoom_in{
	background: url(48/zoom_in.png) no-repeat center center;
}

.zoom_out_48, .slotBar_48 .zoom_out{
	background: url(48/zoom_out.png) no-repeat center center;
}
/* @end */


/* @group size64 */

.icon_64,.slotBar_64 .iconbox{
	height:64px;
	width: 64px;
	opacity: .7;
	cursor: pointer;
}
.slotBar_64 .dijitButtonHover .iconbox , .dijitButtonHover .icon_64, .icon_64:hover{
    opacity:1;
}


.alarm_64, .slotBar_64 .alarm{
	background: url(64/alarm.png) no-repeat center center;
}

.alarm_check_64, .slotBar_64 .alarm_check{
	background: url(64/alarm_check.png) no-repeat center center;
}

.alarm_off_64, .slotBar_64 .alarm_off{
	background: url(64/alarm_off.png) no-repeat center center;
}

.alarm_on_64, .slotBar_64 .alarm_on{
	background: url(64/alarm_on.png) no-repeat center center;
}

.app_64, .slotBar_64 .app{
	background: url(64/app.png) no-repeat center center;
}

.app_globe_64, .slotBar_64 .app_globe{
	background: url(64/app_globe.png) no-repeat center center;
}

.app_lock_64, .slotBar_64 .app_lock{
	background: url(64/app_lock.png) no-repeat center center;
}

.app_remove_64, .slotBar_64 .app_remove{
	background: url(64/app_remove.png) no-repeat center center;
}

.arrow_64, .slotBar_64 .arrow{
	background: url(64/arrow.png) no-repeat center center;
}

.arrow_circle_left_64, .slotBar_64 .arrow_circle_left{
	background: url(64/arrow_circle_left.png) no-repeat center center;
}

.arrow_circle_right_64, .slotBar_64 .arrow_circle_right{
	background: url(64/arrow_circle_right.png) no-repeat center center;
}

.arrow_down_64, .slotBar_64 .arrow_down{
	background: url(64/arrow_down.png) no-repeat center center;
}

.arrow_left_64, .slotBar_64 .arrow_left{
	background: url(64/arrow_left.png) no-repeat center center;
}

.arrow_right_64, .slotBar_64 .arrow_right{
	background: url(64/arrow_right.png) no-repeat center center;
}

.arrow_up_64, .slotBar_64 .arrow_up{
	background: url(64/arrow_up.png) no-repeat center center;
}

.attach_64, .slotBar_64 .attach{
	background: url(64/attach.png) no-repeat center center;
}

.auction_64, .slotBar_64 .auction{
	background: url(64/auction.png) no-repeat center center;
}

.book_64, .slotBar_64 .book{
	background: url(64/book.png) no-repeat center center;
}

.book_bookmark_64, .slotBar_64 .book_bookmark{
	background: url(64/book_bookmark.png) no-repeat center center;
}

.bookmark_64, .slotBar_64 .bookmark{
	background: url(64/bookmark.png) no-repeat center center;
}

.bookmark_add_64, .slotBar_64 .bookmark_add{
	background: url(64/bookmark_add.png) no-repeat center center;
}

.brightness_64, .slotBar_64 .brightness{
	background: url(64/brightness.png) no-repeat center center;
}

.brush_64, .slotBar_64 .brush{
	background: url(64/brush.png) no-repeat center center;
}

.bulb_off_64, .slotBar_64 .bulb_off{
	background: url(64/bulb_off.png) no-repeat center center;
}

.bulb_on_64, .slotBar_64 .bulb_on{
	background: url(64/bulb_on.png) no-repeat center center;
}

.calculator_64, .slotBar_64 .calculator{
	background: url(64/calculator.png) no-repeat center center;
}

.calendar_64, .slotBar_64 .calendar{
	background: url(64/calendar.png) no-repeat center center;
}

.cancel_64, .slotBar_64 .cancel{
	background: url(64/cancel.png) no-repeat center center;
}

.cart_64, .slotBar_64 .cart{
	background: url(64/cart.png) no-repeat center center;
}

.case_64, .slotBar_64 .case{
	background: url(64/case.png) no-repeat center center;
}

.chart_area_64, .slotBar_64 .chart_area{
	background: url(64/chart_area.png) no-repeat center center;
}

.chart_bar_64, .slotBar_64 .chart_bar{
	background: url(64/chart_bar.png) no-repeat center center;
}

.chart_bar1_64, .slotBar_64 .chart_bar1{
	background: url(64/chart_bar1.png) no-repeat center center;
}

.chart_bar_down_64, .slotBar_64 .chart_bar_down{
	background: url(64/chart_bar_down.png) no-repeat center center;
}

.chart_bar_up_64, .slotBar_64 .chart_bar_up{
	background: url(64/chart_bar_up.png) no-repeat center center;
}

.chart_down_64, .slotBar_64 .chart_down{
	background: url(64/chart_down.png) no-repeat center center;
}

.chart_line_64, .slotBar_64 .chart_line{
	background: url(64/chart_line.png) no-repeat center center;
}

.chart_pie_64, .slotBar_64 .chart_pie{
	background: url(64/chart_pie.png) no-repeat center center;
}

.chart_up_64, .slotBar_64 .chart_up{
	background: url(64/chart_up.png) no-repeat center center;
}

.checkmark_64, .slotBar_64 .checkmark{
	background: url(64/checkmark.png) no-repeat center center;
}

.clock_64, .slotBar_64 .clock{
	background: url(64/clock.png) no-repeat center center;
}

.comment_64, .slotBar_64 .comment{
	background: url(64/comment.png) no-repeat center center;
}

.comment_check_64, .slotBar_64 .comment_check{
	background: url(64/comment_check.png) no-repeat center center;
}

.comment_delete_64, .slotBar_64 .comment_delete{
	background: url(64/comment_delete.png) no-repeat center center;
}

.comment_minus_64, .slotBar_64 .comment_minus{
	background: url(64/comment_minus.png) no-repeat center center;
}

.comment_plus_64, .slotBar_64 .comment_plus{
	background: url(64/comment_plus.png) no-repeat center center;
}

.concole_64, .slotBar_64 .concole{
	background: url(64/concole.png) no-repeat center center;
}

.contrast_64, .slotBar_64 .contrast{
	background: url(64/contrast.png) no-repeat center center;
}

.copy_64, .slotBar_64 .copy{
	background: url(64/copy.png) no-repeat center center;
}

.credit_card_64, .slotBar_64 .credit_card{
	background: url(64/credit_card.png) no-repeat center center;
}

.cut_64, .slotBar_64 .cut{
	background: url(64/cut.png) no-repeat center center;
}

.delete_64, .slotBar_64 .delete{
	background: url(64/delete.png) no-repeat center center;
}

.disk_64, .slotBar_64 .disk{
	background: url(64/disk.png) no-repeat center center;
}

.display_off_64, .slotBar_64 .display_off{
	background: url(64/display_off.png) no-repeat center center;
}

.display_on_64, .slotBar_64 .display_on{
	background: url(64/display_on.png) no-repeat center center;
}

.document_64, .slotBar_64 .document{
	background: url(64/document.png) no-repeat center center;
}

.document_empty_64, .slotBar_64 .document_empty{
	background: url(64/document_empty.png) no-repeat center center;
}

.favorites_add_64, .slotBar_64 .favorites_add{
	background: url(64/favorites_add.png) no-repeat center center;
}

.favorites_remove_64, .slotBar_64 .favorites_remove{
	background: url(64/favorites_remove.png) no-repeat center center;
}

.film_64, .slotBar_64 .film{
	background: url(64/film.png) no-repeat center center;
}

.flag_64, .slotBar_64 .flag{
	background: url(64/flag.png) no-repeat center center;
}

.flag1_64, .slotBar_64 .flag1{
	background: url(64/flag1.png) no-repeat center center;
}

.flash_64, .slotBar_64 .flash{
	background: url(64/flash.png) no-repeat center center;
}

.folder_64, .slotBar_64 .folder{
	background: url(64/folder.png) no-repeat center center;
}

.folder_bookmark_64, .slotBar_64 .folder_bookmark{
	background: url(64/folder_bookmark.png) no-repeat center center;
}

.folder_in_64, .slotBar_64 .folder_in{
	background: url(64/folder_in.png) no-repeat center center;
}

.font_64, .slotBar_64 .font{
	background: url(64/font.png) no-repeat center center;
}

.font_case_64, .slotBar_64 .font_case{
	background: url(64/font_case.png) no-repeat center center;
}

.font_down_64, .slotBar_64 .font_down{
	background: url(64/font_down.png) no-repeat center center;
}

.font_italic_64, .slotBar_64 .font_italic{
	background: url(64/font_italic.png) no-repeat center center;
}

.font_p_64, .slotBar_64 .font_p{
	background: url(64/font_p.png) no-repeat center center;
}

.font_underline_64, .slotBar_64 .font_underline{
	background: url(64/font_underline.png) no-repeat center center;
}

.font_up_64, .slotBar_64 .font_up{
	background: url(64/font_up.png) no-repeat center center;
}

.frame_64, .slotBar_64 .frame{
	background: url(64/frame.png) no-repeat center center;
}

.gear_64, .slotBar_64 .gear{
	background: url(64/gear.png) no-repeat center center;
}

.globe_64, .slotBar_64 .globe{
	background: url(64/globe.png) no-repeat center center;
}

.hat_64, .slotBar_64 .hat{
	background: url(64/hat.png) no-repeat center center;
}

.heart_64, .slotBar_64 .heart{
	background: url(64/heart.png) no-repeat center center;
}

.help_64, .slotBar_64 .help{
	background: url(64/help.png) no-repeat center center;
}

.home_64, .slotBar_64 .home{
	background: url(64/home.png) no-repeat center center;
}

.inbox_64, .slotBar_64 .inbox{
	background: url(64/inbox.png) no-repeat center center;
}

.info_64, .slotBar_64 .info{
	background: url(64/info.png) no-repeat center center;
}

.key_64, .slotBar_64 .key{
	background: url(64/key.png) no-repeat center center;
}

.keyboard_64, .slotBar_64 .keyboard{
	background: url(64/keyboard.png) no-repeat center center;
}

.laptop_64, .slotBar_64 .laptop{
	background: url(64/laptop.png) no-repeat center center;
}

.link_64, .slotBar_64 .link{
	background: url(64/link.png) no-repeat center center;
}

.lock_64, .slotBar_64 .lock{
	background: url(64/lock.png) no-repeat center center;
}

.magnifier_64, .slotBar_64 .magnifier{
	background: url(64/magnifier.png) no-repeat center center;
}

.mail_64, .slotBar_64 .mail{
	background: url(64/mail.png) no-repeat center center;
}

.man_64, .slotBar_64 .man{
	background: url(64/man.png) no-repeat center center;
}

.med_64, .slotBar_64 .med{
	background: url(64/med.png) no-repeat center center;
}

.mic_64, .slotBar_64 .mic{
	background: url(64/mic.png) no-repeat center center;
}

.minus_64, .slotBar_64 .minus{
	background: url(64/minus.png) no-repeat center center;
}

.money_64, .slotBar_64 .money{
	background: url(64/money.png) no-repeat center center;
}

.moving_64, .slotBar_64 .moving{
	background: url(64/moving.png) no-repeat center center;
}

.note_64, .slotBar_64 .note{
	background: url(64/note.png) no-repeat center center;
}

.on_off_64, .slotBar_64 .on_off{
	background: url(64/on_off.png) no-repeat center center;
}

.outbox_64, .slotBar_64 .outbox{
	background: url(64/outbox.png) no-repeat center center;
}

.paint_64, .slotBar_64 .paint{
	background: url(64/paint.png) no-repeat center center;
}

.paper_plane_64, .slotBar_64 .paper_plane{
	background: url(64/paper_plane.png) no-repeat center center;
}

.pencil_64, .slotBar_64 .pencil{
	background: url(64/pencil.png) no-repeat center center;
}

.phone_64, .slotBar_64 .phone{
	background: url(64/phone.png) no-repeat center center;
}

.photo_64, .slotBar_64 .photo{
	background: url(64/photo.png) no-repeat center center;
}

.plus_64, .slotBar_64 .plus{
	background: url(64/plus.png) no-repeat center center;
}

.reload_64, .slotBar_64 .reload{
	background: url(64/reload.png) no-repeat center center;
}

.resize_64, .slotBar_64 .resize{
	background: url(64/resize.png) no-repeat center center;
}

.rss_64, .slotBar_64 .rss{
	background: url(64/rss.png) no-repeat center center;
}

.ruler_64, .slotBar_64 .ruler{
	background: url(64/ruler.png) no-repeat center center;
}

.safe_64, .slotBar_64 .safe{
	background: url(64/safe.png) no-repeat center center;
}

.save_64, .slotBar_64 .save{
	background: url(64/save.png) no-repeat center center;
}

.shopping_bag_64, .slotBar_64 .shopping_bag{
	background: url(64/shopping_bag.png) no-repeat center center;
}

.smile_64, .slotBar_64 .smile{
	background: url(64/smile.png) no-repeat center center;
}

.smile_sad_64, .slotBar_64 .smile_sad{
	background: url(64/smile_sad.png) no-repeat center center;
}

.sound_64, .slotBar_64 .sound{
	background: url(64/sound.png) no-repeat center center;
}

.spanner_64, .slotBar_64 .spanner{
	background: url(64/spanner.png) no-repeat center center;
}

.speaker_64, .slotBar_64 .speaker{
	background: url(64/speaker.png) no-repeat center center;
}

.star_64, .slotBar_64 .star{
	background: url(64/star.png) no-repeat center center;
}

.stop_64, .slotBar_64 .stop{
	background: url(64/stop.png) no-repeat center center;
}

.storage_64, .slotBar_64 .storage{
	background: url(64/storage.png) no-repeat center center;
}

.sum_64, .slotBar_64 .sum{
	background: url(64/sum.png) no-repeat center center;
}

.tag_64, .slotBar_64 .tag{
	background: url(64/tag.png) no-repeat center center;
}

.tag_add_64, .slotBar_64 .tag_add{
	background: url(64/tag_add.png) no-repeat center center;
}

.tag_cancel_64, .slotBar_64 .tag_cancel{
	background: url(64/tag_cancel.png) no-repeat center center;
}

.tag_remove_64, .slotBar_64 .tag_remove{
	background: url(64/tag_remove.png) no-repeat center center;
}

.trash_64, .slotBar_64 .trash{
	background: url(64/trash.png) no-repeat center center;
}

.trash_mac_64, .slotBar_64 .trash_mac{
	background: url(64/trash_mac.png) no-repeat center center;
}

.tray_64, .slotBar_64 .tray{
	background: url(64/tray.png) no-repeat center center;
}

.tray_full_64, .slotBar_64 .tray_full{
	background: url(64/tray_full.png) no-repeat center center;
}

.tray_mail_64, .slotBar_64 .tray_mail{
	background: url(64/tray_mail.png) no-repeat center center;
}

.twg_logo_64, .slotBar_64 .twg_logo{
	background: url(64/twg_logo.png) no-repeat center center;
}

.unlock_64, .slotBar_64 .unlock{
	background: url(64/unlock.png) no-repeat center center;
}

.video_64, .slotBar_64 .video{
	background: url(64/video.png) no-repeat center center;
}

.video_forward_64, .slotBar_64 .video_forward{
	background: url(64/video_forward.png) no-repeat center center;
}

.video_next_64, .slotBar_64 .video_next{
	background: url(64/video_next.png) no-repeat center center;
}

.video_pause_64, .slotBar_64 .video_pause{
	background: url(64/video_pause.png) no-repeat center center;
}

.video_play_64, .slotBar_64 .video_play{
	background: url(64/video_play.png) no-repeat center center;
}

.video_previous_64, .slotBar_64 .video_previous{
	background: url(64/video_previous.png) no-repeat center center;
}

.video_rec_64, .slotBar_64 .video_rec{
	background: url(64/video_rec.png) no-repeat center center;
}

.volume_down_64, .slotBar_64 .volume_down{
	background: url(64/volume_down.png) no-repeat center center;
}

.volume_up_64, .slotBar_64 .volume_up{
	background: url(64/volume_up.png) no-repeat center center;
}

.wallet_64, .slotBar_64 .wallet{
	background: url(64/wallet.png) no-repeat center center;
}

.warning_64, .slotBar_64 .warning{
	background: url(64/warning.png) no-repeat center center;
}

.warning1_64, .slotBar_64 .warning1{
	background: url(64/warning1.png) no-repeat center center;
}

.wifi_64, .slotBar_64 .wifi{
	background: url(64/wifi.png) no-repeat center center;
}

.zoom_in_64, .slotBar_64 .zoom_in{
	background: url(64/zoom_in.png) no-repeat center center;
}

.zoom_out_64, .slotBar_64 .zoom_out{
	background: url(64/zoom_out.png) no-repeat center center;
}
/* @end */


