.mobilebar{
    background: #bbb;
}
.mobilebar .iframetab{
    background-color: transparent;
    border-width: 0px;
    height: 18px;
    padding:4px;
    margin:3px;
}
.mobilebar .iframetab.iframetab_selected{
    background: lightyellow;
}
.slotbar_table .iframetab{
    background-color: transparent;
    border-width: 0;
}

.mobilebar_top{
    background:#444;
    color:white;
    height:25px;
}

.menu_toggle{
    background: url(/_rsrc/common/css_icons/svg/16/menu_black.svg) no-repeat center center;
    background-size: contain;
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin:3px;
}

.menu_toggle .button_block div {
    width:25px;
}