
*:focus { outline:none }
html{background-color:#C7070C;margin:0;padding:0;}
body {font-family:Verdana,Arial,Tahoma,Century,"Lucida Grande","Stylus BT";
		background:white url("images/bg_rpt.png") repeat-x bottom left;
		margin:0;}
	
a.linkFondo{text-decoration:none;color:#3F6F9F;}
a.linkFondo:hover{text-decoration:none;color:#38879C;}

a{text-decoration:none;color:#345777;}
a:hover{text-decoration:none;color:#96B1CC;}
img{border:0px solid white;}
#logo{
			position:relative;
			margin-top: 10px;
			width:400px;
			height:100px;
			border:0px ;
		    background:transparent url('images/xypsilon.png') no-repeat top left;}
#docs{
			position:relative;
			margin-top: 10px;
			width:400px;
			height:100px;
			border:0px ;
		    background:transparent url('images/xypsilon.png') no-repeat top left;}

#header{
			position:relative;
			margin: 0;
			width:1020px;
			height:411px;
			border:0px ;
		    background:transparent url('images/header.png') no-repeat top left;}
		
#preContainer{margin: -8px auto -8px auto;
			width:1020px;
			border:0px solid gray;}
#container{margin: -8px auto -8px auto;
			width:1020px;
			border:0px solid gray;
		   background:transparent url('images/bg_bottom.png') no-repeat bottom left;}

.header{}
.menubar{border-bottom:1px solid red;font-size:100%;text-align:center;padding:5px;}

#mainTbl{padding-bottom:20px;border-bottom:1px solid gray;}

/* index Classes*/
.idxPara{padding:10px;font-size:80%;line-height:1.2em;text-align:justify;}
/* index*/

.title{position:relative;padding:10px;font-size:80%;line-height:1.2em;text-align:left;}
.content{position:relative;padding:10px;font-size:80%;line-height:1.2em;text-align:left;}

.visible{display:block;}

 #footer { 
		text-align: center;
		position:relative;
		top:40px;
		left:0px;
		width: 100%;
		font-size:70%;
	}