.tpl_nocontent .tpl_content{
    visibility:hidden;
}

*:focus { outline:none }

.gnrdebugger{
    z-index:1000 !important;
}
/* @group validation */

.ghostpartial{
    opacity:.42;
}
.ghosthidden{
    opacity:0;
    z-index:0;
}
.no_background .dijitButtonNode{
    padding:0;
    background:none;
    border-width:0 !important;
    border-color:transparent;
}

label.ghostlabel span{
    opacity:1;
    z-index:5;
    position:absolute;
    padding-left:5px;
    padding-top:1px;
    color:#808080;
}

.dijitReset .dijitValidationIcon{
    display: none;
}

.tundra .dijitError {
    background-color: #fff2f5;
    background-image:none;
    border-color: #ff0041;
}
.tundra .dijitTextBoxErrorDisabled{
    background-color: white;
    background-image:none;
    border-color: silver;
}
.tundra .dijitComboBoxErrorDisabled{
    border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
    background:#e4e4e4 url(images/buttonDisabled.png) top repeat-x;
    opacity: 0.60; 
}


/* @end */

/* @group print */

.only_print {
    display: none;
}
/* @end */

/* @group SystemCss */
.hideSplitter >.dijitSplitter{
	background: transparent;
}

.hideSplitter >.dijitSplitter .dijitSplitterThumb{
	visibility: hidden;
}

/* @group dialog */
.dlg_ask{
    padding: 5px;
    padding-bottom: 2.5em;
    background-color: darkgray;

}
.dlg_ask_msg{
    min-height: 10ex;
    width: 25em;
    padding: 10px;
    background-color: whitesmoke;
    border:1px solid gray;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.dlg_ask_btn{
    float: right;
}
.dlg_alert{
    font-size:.9em;
}
.dlg_alert_msg{
    width: 25em;
    height: 20ex;
    padding: 1em;
    background-color: whitesmoke;
    border:1px solid gray;
    margin: 1em;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}


/* @end */

/* @group Standard form */

.numberTextBox input{
    text-align: right;
    padding-right: 2px;
}
.numberTextBox input:focus{
    text-align: left;
    padding-left: 2px;
}

.gnrfieldlabel {
    vertical-align: middle;
    text-align: right;
    padding-bottom: .5px;
    color: #1c004e;
}
.floatRight{
    float:right
}
.floatLeft{
    float:left
}
.borderRadius{
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
}
.gnrfield {
    
}

/* @group loading classes */

.loadingForm .gnrfield input{
	opacity: .3;
}
.loadingForm .dojoxGrid-content{
	opacity: .3;
}
.loadingForm textarea{
	color: transparent;
}
.loadingForm gnrfield >div{
	opacity: .3;
}
.formHider{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100;
	opacity: .3;
	background: white;
}

/* @end */


.fakeTextBox {
    border: 1px solid silver;
    background: white;
    height: 15px;
    margin-left: 1px;
    padding-left:2px;
    margin-bottom:1px;
}
.fakeNumberTextBox {
    border: 1px solid silver;
    background: white;
    height: 17px;
    margin-left: 1px;
    text-align: right;
    padding-right: 2px;
}
.smallFakeTextBox {
    border: 1px solid silver;
    background: white;
    min-height: 2ex;
    margin-left: 1px;
    padding-left:2px;

}

/* @end */

/* @group Form Builder */

table.formbuilder {
    border-collapse: separate;
    border-spacing: 6px;
}

/* @end */

/* @group Localizer */

.localizer_hidden {
    display: none;
}

.localizer_ok {
    background: url(icons/flag/green.gif) no-repeat center center;
    height: 100%;
    width: 18px;
    display: block;
    float: right;
    margin-right: 5px;
}

.localizer_missingLoc {
    background: url(icons/flag/red.gif) no-repeat center center;
    height: 100%;
    width: 18px;
    display: block;
    float: right;
    margin-right: 5px;
}

.localizationTable {
    border-collapse: collapse;
    color: #3a3a3a;
    font-size: .9em;
}

.localizationTable th {
    padding: 2px;
    border: thin solid #c8c8c8;
    background-color: #a1a1a1;
    font-weight: bold;
    text-align: center;
}

.localizationTable td {
    padding: 2px;
    border: thin solid #c8c8c8;
    background-color: #b6e2ff;
}

.localizationTable tr > td:first-child {
    padding: 2px;
    color: white;
    border: thin solid #c8c8c8;
    background-color: #4f4f4f;
    text-align: right;
}

/* @end */

/* @group MultiColumnSelect */

.multiColumnSelect table {
    border-collapse: collapse;
    font-size: 10px;
    background-color: #f3f3f3;
    /*width: 100%;*/
}
.multiColumnSelect{
    background-color: #f3f3f3;
}

.multiColumnSelect th {
    padding: 2px;
    border: 1px solid #c8c8c8;
    background-color: #6b6b6b;
    /*font-weight: bold;*/
    text-align: center;
    color: white;
    white-space:nowrap;
}

.multiColumnSelect tr {
    padding: 2px;
    /*border: 1px solid #c8c8c8;*/
}

.multiColumnSelect td {
    padding: 2px;
    border: 1px solid #c8c8c8;
    white-space:nowrap;
}

.multiColumnSelectHover td {
    background-color: #fdff89;
}
.relaxedCondition tr{
    background-color: #ffce98 !important;
    font-style:italic;
}

/* @end */

/* @group BagAttributesTable */

.bagAttributesTable {
    border-collapse: collapse;
    color: #3a3a3a;
    font-size: xx-small;
}

.bagAttributesTable th {
    padding: 2px;
    border: thin solid #c8c8c8;
    background-color: #a1a1a1;
    font-weight: bold;
    text-align: center;
}

.bagAttributesTable td {
    padding: 2px;
    border: thin solid #c8c8c8;
    background-color: #b6e2ff;
}

.bagAttributesTable tr > td:first-child {
    padding: 2px;
    color: white;
    border: thin solid #c8c8c8;
    background-color: #4f4f4f;
    text-align: right;
}

/* @end */

/* @end */

/* @group Icons */

.icnWarning{
    background: url(icons/iconWarning.gif) no-repeat;
    width: 20px;
    height: 16px;
}

.icnTag{
	background: url(icons/iconTag.png) no-repeat;
    width: 18px;
    height: 16px;
}
/* @group base14 */
.vieselectorIcn{
	background: url(icons/viewselector.png) no-repeat center center;
	height: 16px;
	width: 18px;
}
.greenLight {
    background: url(icons/base14/greenLight.gif) no-repeat;
    width: 14px;
    height: 14px;
}
.redLight {
    background: url(icons/base14/redLight.gif) no-repeat;
    width: 14px;
    height: 14px;
}

.yellowLight {
    background: url(icons/base14/yellowLight.gif) no-repeat;
    width: 14px;
    height: 14px;
}


/* @end */

.buttonIcon {
    opacity: 0.8;
    margin-left: 2px;
    margin-right: 2px;
}

.buttonIcon:hover {
    cursor: pointer;
    opacity: 1;
}

/* @group Navigation */

.icnNavFirst {
    background: url(icons/nav/first.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnNavLast {
    background: url(icons/nav/last.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnNavNext {
    background: url(icons/nav/next.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnNavPrev {
    background: url(icons/nav/prev.gif) no-repeat;
    width: 16px;
    height: 16px;
}

/* @end */

/* @group International */

.icnIntlEn {
    background: url(icons/intl/en.gif) no-repeat;
    width: 14px;
    height: 11px;
}

.icnIntlIt {
    background: url(icons/intl/it.gif) no-repeat;
    width: 14px;
    height: 11px;
}

/* @end */

/* @group Flag */

.icnFlagBlue {
    background: url(icons/flag/blue.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnFlaGreen {
    background: url(icons/flag/green.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnFlagOrange {
    background: url(icons/flag/orange.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnFlagPink {
    background: url(icons/flag/pink.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnFlagPurple {
    background: url(icons/flag/purple.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnFlagRed {
    background: url(icons/flag/red.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnFlagYellow {
    background: url(icons/flag/yellow.gif) no-repeat;
    width: 16px;
    height: 16px;
}

/* @end */
.tableTreeNode{
	font-weight: bold;
}
.aliasColumnTreeNode{
    background-color: #feffe2}
    font-style: italic;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
   } 
.formulaColumnTreeNode{
    background-color: #d1ffeb;
	font-style: italic;
	-moz-border-radius:4px;
    -webkit-border-radius:4px;
}
/* @group Dtype */

.icnDtype_A {
    background: url(icons/dtype/alpha.gif) no-repeat;
    width: 10px;
    height: 10px;
}
.icnDtype_DH {
    background: url(icons/dtype/datetime.gif) no-repeat;
    width: 10px;
    height: 10px;
}
.icnDtype_B {
    background: url(icons/dtype/bool.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_D {
    background: url(icons/dtype/date.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_L {
    background: url(icons/dtype/long.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_R {
    background: url(icons/dtype/real.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_N {
    background: url(icons/dtype/numeric.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_T {
    background: url(icons/dtype/text.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_X {
    background: url(icons/dtype/xml.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_RO {
    background: url(icons/dtype/relate_one.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_RM {
    background: url(icons/dtype/relate_many.gif) no-repeat;
    width: 10px;
    height: 10px;
}

.icnDtype_SQL_F {
    background: url(icons/dtype/sql_formula.gif) no-repeat;
    width: 10px;
    height: 10px;
}

/* @end */

/* @group Base12 */

.icnTabClose {
    background: url(icons/base12/tabClose.gif) no-repeat center center;
    width: 12px;
    height: 12px;
}
.fakeTabContainer .dijitTabPaneWrapper{
    display:none !important;
}

.icnTabCloseHover {
    background: url(icons/base12/tabCloseHover.gif) no-repeat center center;
    width: 12px;
    height: 12px;
}

.icnBaseArrowDown {
    background: url(icons/base12/arrowdown.gif) no-repeat;
    width: 12px;
    height: 12px;
}

.icnBaseSmallPopup {
    background: url(icons/base12/smallpopup.gif) no-repeat;
    width: 7px;
    height: 12px;
}
.smallmenu .dijitMenuItem {
    font-size: .85em !important;
}

.smallmenu .dijitMenuItem TD {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: .40em;
}
.floatingPopup {
    padding-right: 15px;
}
.dijitMenu{
    -moz-box-shadow:2px 2px 4px #403b3b;
	-webkit-box-shadow:2px 2px 4px #403b3b;
}
.floatingPopup:hover {
    background: #feffb4 url(icons/base12/smallpopup.gif) no-repeat right;
}

.helperField{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #feffb4 url(icons/base12/smallpopup.gif) no-repeat right;
	z-index: 10;
	cursor: pointer;
	padding-left: 2px;
	padding-top: 1px;
	padding-right: 15px;
	overflow: hidden;
	white-space: pre;
}

/* @end */

/* @group Base16 */

.icnBaseAdd {
    background: url(icons/base16/add.gif) no-repeat;
    width: 16px;
    height: 16px;
}



.icnBuddy {
    background: url(icons/base16/buddy.png) no-repeat;
    width: 16px;
    height: 16px;
}
.icnBuddyChat {
    background: url(icons/base16/buddy_chat.png) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseCancel {
    background: url(icons/base16/cancel.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnRefresh{
    width: 16px;
    height: 16px;
	background-image: url(icons/base16/refresh.png);
}
.icnBaseEmail {
    background: url(icons/base16/email.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseExport {
    background: url(icons/base16/export.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseAction {
    background: url(icons/base16/action.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseView {
    background: url(icons/base16/view.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseDelete {
    background: url(icons/base16/delete.gif) no-repeat;
    width: 16px;
    height: 16px;
}
.icnBaseEdit {
    background: url(icons/base16/edit.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseEditUser {
    background: url(icons/base16/edituser.gif) no-repeat;
    width: 16px;
    height: 16px;
}


.icnBaseLens {
    background: url(icons/base16/lens.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseEye {
    background: url(icons/base16/eye.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseLocked {
    background: url(icons/base16/locked.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseLogout {
    background: url(icons/base16/logout.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseOk {
    background: url(icons/base16/ok.gif) no-repeat;
    width: 17px;
    height: 17px;
}
.disabled_row {
    opacity:.6;
}

.checkboxOn {
    background: url(icons/checkMarkOn.png) no-repeat;
    width: 15px;
    height: 15px;
}
.checkboxOff {
    background: url(icons/checkMarkOff.png) no-repeat;
    width: 15px;
    height: 15px;
}
.checkboxOnOff {
    background: url(icons/checkMarkOnOff.png) no-repeat;
    width: 15px;
    height: 15px;
}
.checkboxOff {
    background: url(icons/checkMarkOff.png) no-repeat;
    width: 15px;
    height: 15px;
}
/* @group boole */
.icnTrue{
    background: url(icons/base16/ok.gif) no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.icnFalse {
    background: url(icons/base16/cancel.gif) no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}


/* @end */

.icnBaseOneWay {
    background: url(icons/base16/oneway.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseSave {
    background: url(icons/base16/save.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseFolder {
    background: url(icons/base16/folder.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBasePowerOff {
    background: url(icons/base16/poweroff.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBasePrinter {
    background: url(icons/base16/printer.gif) no-repeat;
    width: 16px;
    height: 16px;
}
.icnBasePdf {
    background: url(icons/base16/pdf_icon.gif) no-repeat;
    width: 16px;
    height: 16px;
}


.icnBaseReadOnly {
    background: url(icons/base16/readonly.gif) no-repeat;
    width: 16px;
    height: 16px;
}
.icnBaseWrite {
    background: url(icons/base16/pencil.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseTrash {
    background: url(icons/base16/trash.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseUnlocked {
    background: url(icons/base16/unlocked.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseUpBlue {
    background: url(icons/base16/upblue.gif) no-repeat;
    width: 16px;
    height: 16px;
}

.icnBaseUpYellow {
    background: url(icons/base16/upyellow.gif) no-repeat;
    width: 16px;
    height: 16px;
}

/* @end */

/* @group Base10 */

.icnBase10_Save {
    background: url(icons/base10/save.gif) no-repeat center center;
    width: 10px;
    height: 10px;
}

.icnBase10_Trash {
    background: url(icons/base10/trash.gif) no-repeat center center;
    width: 10px;
    height: 10px;
}

.icnBase10_Doc {
    background: url(icons/base10/document.gif) no-repeat center center;
    width: 10px;
    height: 10px;
}

.icnBase10_Lens {
    background: url(icons/base10/lens.gif) no-repeat center center;
    width: 10px;
    height: 10px;
}

/* @end */

/* @end */

/* @group Dev */

.gnrhighlight {
    border: 1px dotted red;
}

/* @end */

/* @group Dijit custom */

/* @group colorpalettemenu */

.colorPaletteMenu .dijitMenuItemHover{
	background-color:transparent;
}
	
.colorPaletteMenu .dijitMenuItem td{
	padding:0;
}
.colorPaletteMenu .dijitMenuItemIcon{
	display:none;
}

/* @end */

/* @group Editor */

.RichTextEditable .dijitComboBox{
    font-size: .9em;
    width: 8em;
}
.RichTextEditable label{
    font-size: .9em;
}


/* @end */

/* @group Toaster */


.dijitToasterContent {
    padding:1em;
    padding-top:0.25em;
    background:#73c74a;
}
.dijitToasterMessage{ 
    color:#fff;
}
.dijitToasterWarning{ }
.dijitToasterError,
.dijitToasterFatal{
    font-weight:bold;
    color:#fff;
}
.dijitToasterWarning .dijitToasterContent{
    padding:1em;
    padding-top:0.25em;
    background:#d4d943;
} 
.dijitToasterError .dijitToasterContent{
    padding:1em;
    padding-top:0.25em;
    background:#c46600;
}
 
.dijitToasterClip {
    position: absolute;
    z-index: 5000;
    overflow: hidden;
}
.dijitToasterContainer {
    display: block;
    position: absolute;
    width: 17.5em;
    margin: 0px;
    font:0.75em Tahoma, Helvetica, Verdana, Arial;
}
 


/* @end */

.gnrfield .dijitButtonDisabled .dijitButtonNode, .tundra .dijitToggleButtonDisabled .dijitButtonNode, .tundra .dijitDropDownButtonDisabled .dijitButtonNode, .tundra .dijitComboButtonDisabled .dijitButtonNode, .tundra .dijitComboBoxDisabled, .tundra .dijitSpinnerDisabled, .tundra .dijitSpinnerDisabled .dijitButtonNode {
    opacity: 0.8;
}
.warningForm .saving_btn .dijitButtonNode{
    color:red !important;
}

.tundra .dijitDialog .dijitDialogPaneContent {
    font-size:12px;
    padding: 0px;
}

/* @group FileInput */

.dijitFileInput {
    position: relative;
    height: 1.3em;
    padding: 2px;
}

.dijitFileInputReal {
    position: absolute;
    z-index: 2;
    opacity: 0;
    left: 0;
    top: 0;
    filter: alpha(opacity:0);
}

.dijitFileInputRealBlind {
    right: 0;
}

.dijitFileInputReal:hover {
    cursor: pointer;
}

.dijitFileInputButton,
.dijitFileInputText {
    border: 1px solid #333;
    padding: 2px 12px 2px 12px;
    cursor: pointer;
}

.dijitFileInputButton {
    opacity: 0;
    filter: alpha(opacity:0);
    z-index: 3;
    visibility: hidden;
}

.dijitFakeInput {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.dijitProgressOverlay {
    display: none;
    width: 250px;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #333;
    background: #cad2de url('../../../dijit/themes/tundra/images/dijitProgressBarAnim.gif') repeat-x top left;
    padding: 2px;
}

/* tundra */

.tundra .dijitProgressOverlay {
    border: 1px solid #84a3d1;
    background-color: #cad2de;
}

.tundra .dijitFakeInput input {
    font-size: inherit;
    background: #fff url("../../../dijit/themes/tundra/images/validationInputBg.png") repeat-x top left;
    border: 1px solid #9b9b9b;
    line-height: normal;
    padding: 0.2em 0.3em;
}

.tundra .dijitFileInputButton, 
.tundra .dijitFileInputText {
    border: 1px solid #9b9b9b;
    padding: 2px 12px 2px 12px

;
    /* .3em .4em .2em .4em; */
    background: #e9e9e9 url("../../../dijit/themes/tundra/images/buttonEnabled.png") repeat-x top;
}

/* @end */

/* @end */

.waiting {
    height: 100%;
    height: 100%;
    background: url(icons/ajax-loader-1.gif) no-repeat center center;

}

/* @group Dojox */
.dojoxScrollWindow {
	position:relative;
}
.dojoxScrollHelper .helperInner {
	visibility: hidden;
}
.dojoxScrollHelper {
	border:1px solid #b7b7b7;
	width:4px;
	background:#ededed;
	height:4px;
	position:absolute;
	top:4px;
	left:4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.dojoxScrollWrapper {
    width:100%; 
}


/* @end */

.notvisible{
	visibility: hidden;
}
#_gnrRoot{
	opacity: 0;
}

textarea {
    border: 1px solid silver;
    font-family: inherit;
    font-size: inherit;
}

textarea:disabled {
    border: 1px solid silver;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.searchInput{
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    padding-left: 5px;
    padding-right: 15px;
    border: 1px solid gray;
    background: white url(icons/base10/lens.gif) no-repeat 95%; 
}


.hidden {
    display: none;
}

.dimmed {
    opacity: 0.5;
}

/* @end */

/* @group drag drop */
.canBeDropped {
	-moz-box-shadow:inset 0px 0px 3px lime;
    -webkit-box-shadow:inset 0px 0px 3px lime;
}
.cannotBeDropped{
	-moz-box-shadow:inset 0px 0px 3px red;
    -webkit-box-shadow:inset 0px 0px 3px red;
	background: url(icons/base16/oneway.gif) no-repeat 50% 50%;
}
.draggedItem{
	background-color:rgba(252,252,169,0.63);
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border: 3px solid yellow;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
     max-width:200px;
                            
}
.droppableColumn {
    border-right: 4px solid lime !important;
    background: rgba(0,255,0,0.23)!important;
}
.undroppableColumn{
	border-left: 2px solid red !important;
    border-right: 2px solid red !important;
	background: url(icons/base16/oneway.gif) no-repeat 50% 50% !important;
}


/* @end */

/* @group Table */

.dojoxGrid td.cell_R, 
.dojoxGrid td.cell_I, 
.dojoxGrid td.cell_N, 
.dojoxGrid td.cell_L{
    text-align: right;
}

.dtype_L, .dtype_R, .dtype_I, .dtype_N{
    text-align: right;
}
.highlight_negative .negative_number{
    color:red !important;
}

/* @end */

/* @group folderIndex */

.index_td{
    text-align: center;
    padding: 3px;
    cursor: pointer;
}
.index_td:hover{
    opacity: .8;
}
.index_header{
    background-color: #4457b7;
    color: white;
    font-weight: bold;
    padding: 5px;
}
#folderIndexTable{
    background-color: #d3eaff;
}
.index_file{
    background-color: #ff866a;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:12px;
    border: 1px solid #c36652;
}
.index_folder{
    background-color: #ffe78f;
    border: 1px solid #ecd785;
}

/* @end */


/* @group Validation */

.gnrValidError{
    background-color: orange;
}

.dijitTextBoxFocused .cls_DbComboBox {
    background: #d2f9da;
    
}
.dijitTextBoxFocused .cls_DbSelect {
    background: #fdfdcf;
}
/* @end */



/* @group beautiful buttons */
.rounded-button {
    position:relative;
    display:inline-block;
    width:8em;
    padding:0.25em 0.5em 0.3em 0.5em;
    text-align:center;
    cursor:pointer;
    border:2px solid #999;
    background-color:#666;
    background-color:rgba(128,128,128,0.75);
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    -opera-border-radius:16px;
    -khtml-border-radius:16px;
    border-radius:16px;
    font-size:1.1em;
    color:#fff;
    font-weight:bold;
    text-shadow:1px 1px 3px rgba(0,0,0,0.5);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
    background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
    -khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
    -moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
    box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
}

.rounded-button span {
    position:absolute;
    display:block;
    width:94%;
    left:3.5%;
    top:0px;
    height:50%;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    background-color:rgba(255,255,255,0.25);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
    background-image:-moz-linear-gradient(top,bottom,from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));        
    }

.shiny-blue {
    border-color:#999;
    background-color:rgba(128,128,128,0.75);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
    background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
    -khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
    -moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
    box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;
}

.shiny-blue:hover {
        border-color:#6699cc;
        background-color:rgba(64,128,192,0.75);
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
        background-image:-moz-linear-gradient(top,bottom,from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
        -khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;
        -moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;
        box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;
    }
    



/* @end */

/* @group menu */

.browsemenu .tundra .dijitMenuItemIcon {
	width: 4px;
	height: 14px;
}
/* @end */

/* @group Video HTML5 */
#videoelem {
	width: 100%; height: 100%; position: absolute;
}
#videocontainer {
	position: relative; width: 400px; height:225px;
                                      -webkit-user-select:none; 
                                      -webkit-transition-duration:0.2s
}
.videobutton {line-height: 40pt; border: 3px solid white; 
              -webkit-border-radius: 20px;
              opacity: 0.5;position: absolute; font-size: 40pt;
              color: white;background-color: gray;cursor: pointer;
              text-align: center; z-index: 1;
}
.videozoombutton { bottom:10px;right:10px;width:1.1em;
                   height:1.1em;font-size:15pt; line-height: 15pt;
                   border:2px solid white; -webkit-border-radius: 8px;
}
.videoloading { top: 0; bottom: 0; margin:auto; left:0; right:0;
                                    width: 7em; height: 1.2em; cursor:default;
}
videofadeout { 
    -webkit-transition: 1.5s; opacity:0; 
}
#videocontainer:hover .videofadeout {
	opacity: 0.5;
}
.videoplay {
	top: 0; bottom: 0; margin:auto; left:0; 
    right:0; width: 1.2em; height: 1.2em;
}


/* @end */

/* @group Fonts */
@font-face {
	font-family: 'Abadi';
	font-weight: normal;
	src: url('/_gnr/11/fonts/abadi/Abadi_MT_Condensed_Light.ttf');
}
/* @end */

/* @group General HTML */

p{
font-size:inherit;
line-height:inherit;
margin-bottom:inherit;
margin-top:inherit;
}
/* @end */


/* @group Effects (css3) */

.shadow_4{
    -moz-box-shadow:4px 4px 4px #403b3b;
	-webkit-box-shadow:4px 4px 4px #403b3b;
}
.shadow_2{
    -moz-box-shadow:2px 2px 2px #403b3b;
	-webkit-box-shadow:2px 2px 2px #403b3b;
}

.shadow_6{
    -moz-box-shadow:6px 6px 5px #403b3b;
	-webkit-box-shadow:6px 6px 5px #403b3b;
}


.rounded_min{
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}
.rounded_medium{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

.rounded_max{
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
}



/* @end */
