/* @group general */
body{
	background-color: #eee;
}
.mainClientPane{
	
	
}
/* @end */

/* @group Index */
.index_browserPane{
    padding: 2px;
}
.index_back_client{
	border: thin solid #38496e;
	background-color: #d3e3ee;
	height: 100%;
	padding: 1px;
}

.index_header{
	border: 1px solid #38496e;
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 4px;
	background-color: #38496e;
	border-bottom-style: none;
}
.index_td{
	border: 1px solid #4d4d4d;
	color: #1c303d;
	text-align: center;
	font-size: 10pt;
	cursor: pointer;
	padding: 4px;
}
.index_back{
	background-color: #4c73a6;
	border: 1px solid #38496e;
	border-bottom-style: none;

}
.index_folder{
	background-color: #4c73a6;
	}
	
.index_file{
	background-color: silver;
	}
	
.index_td:hover{
	background-color: #faf77f;
}


/* @end */

/* @group Demo */


	 
.demoleft {
	border: thin inset gray;
	background-color: #f2f2f2;
	overflow-x:hidden;
	overflow-y:auto;
	padding: .2em;
	color: navy;
	font: bold .9em "Lucida Grande", Lucida, Verdana, sans-serif;
}

	 
.demoleft_bottom {
	border: thin inset gray;
	background-color: #f2f2f2;
	overflow-x:hidden;
	overflow-y:auto;
	padding: .4em;
	color: navy;
	margin-top: 2px;
	font: bold .9em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.demoleft_container {
	border: 1px solid #38496e;
	height:100%;
} 
.demoleft_top {
	border: thin inset gray;
	background-color: #f2f2f2;
	overflow-x:hidden;
	overflow-y:auto;
	padding: 0.2em;
	color: navy;
}

    
.demotitle {
	color: white;
	font: 13pt "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
	background-color: #38496e;
		padding-top: 2px;
	padding-bottom: 2px;
}

.linenum {
	font-family: "Courier New", Courier, mono;
	background-color: #dcd9d9;
	text-align: right;
	border-top: none;
	border-width: thin;
	border-bottom: thin solid #838383;
	border-left:  thin solid #838383;
	border-right:thin solid #838383;
	padding-right: 2px;
	padding-left: 2em;
	font-weight: bold;
}

.linecode {
	font-family: "Courier New", Courier, mono;
	background-color: #e7edf7;
	text-align: left;
	border-bottom: thin solid #838383;
	border: thin none #484848;
	border-right:thin solid #838383;
	white-space: pre;
	width: 100%;
}

.linecode.r0{
		background-color: #fff5fc;
	} 

/* @end */

/* @group tables */


.gnrTbody{
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
}



.gnrTableHead{
	height: 100%;

}

.gnrTableHeader{

}
/* @end */