.df_row{
    display:none;
}

/*'TextBox:TextBox,simpleTextArea:TextArea,FilteringSelect:Filtering Select,Combobox:Combobox,DbSelect:DbSelect,checkboxtext:Multi checkbox'*/

.dffb_calculated .field_calculated.df_row,
.dffb_enterable .field_enterable.df_row{
    display:table-row;
}


.dffb_enterable.dffb_textbox .field_textbox.df_row,
.dffb_enterable.dffb_simpletextarea .field_simpletextarea.df_row,
.dffb_enterable.dffb_filteringselect .field_filteringselect.df_row, 
.dffb_enterable.dffb_combobox .field_combobox.df_row, 
.dffb_enterable.dffb_dbselect .field_dbselect.df_row, 
.dffb_enterable.dffb_checkboxtext .field_checkboxtext.df_row,
.dffb_enterable.dffb_checkboxtext_nopopup .field_checkboxtext_nopopup.df_row,
.dffb_enterable.dffb_currencytextbox .field_currencytextbox.df_row,
.dffb_enterable.dffb_numbertextbox .field_numbertextbox.df_row,
.dffb_enterable.dffb_numberspinner .field_numberspinner.df_row,
.dffb_enterable.dffb_img .field_img.df_row,
.dffb_enterable.dffb_geocoderfield .field_geocoderfield.df_row,
.dffb_enterable.dffb_graph .field_graph.df_row,

.dffb_calculated .field_calculated.df_row{
    display:table-row;
}

.buttonCalculator{
    border:1px solid lightgray;
    cursor:pointer;
    text-align:center;
    padding-top:10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    font-size: 11pt;
    color: #606060;
    text-shadow: 0px 1px 1px #fff;
    font-weight:bold;
}

.buttonCalculator:active{
    box-shadow: inset 0px 3px 10px -2px rgba(2, 2, 2, 0.5);
}

.textareaCalculator{
    font-size: 11pt !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans" !important;
    background-color:rgb(230,250,187); 
    border-radius:4px; 
    padding:5px; 
    box-shadow: inset 0px 3px 10px -2px rgba(2, 2, 2, 0.5);
}
