.immagine{
    background: black url('immagini/agenda.jpg') no-repeat center center;
}

/*
.box{
    -moz-border-radius: 14px;
    border: 3px solid black;
    margin-top: 600px;
    margin-left:250px;
    width: 160px;
    padding: 5px;
    text-align: center;
}
*/