/* My Comment */
#mainWindow{
	 background-color: #e5e5e5;
	 font-size:12px;
	}

/* @group Public */

.pbl_root{
     margin:4px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-top-left-radius:7px;
    border: 3px solid white;
}



.pbl_username{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: gray;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 6px;
}

.pbl_workdate{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-color: gray;
	color: white;
	font-size: 0.9em;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 6px;
	margin-top: 5px;
}


.pbl_root_top {
	height: 24px;
	background-color: #676767;
	vertical-align: middle;
	color: white;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}

.pbl_root_bottom {
	height: 20px;
	background-color: #676767;

	vertical-align: middle;
	color: white;
}

.pbl_root_center{
	border-left: 1px solid #676767;
	border-right: 1px solid #676767;
	background-color: whitesmoke;
}

.pbl_mainstack{
	height: 100%;
}

.pbl_title_caption{
	font-size: 11pt;
	margin-top: 1px;
	text-align: center;
}

.pbl_index_content{
	margin:auto;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
}

/* @group Form group */
.pbl_roundedGroup{
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
border-radius:6px;
background-color: #e5e5e5;
}

.pbl_roundedGroupLabel{
height:18px;
background-color: #d5d5d5;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
padding-left:10px ;
font-size: 0.9em;
padding-top: 5px;
}
.pbl_roundedGroupBottom{
height:18px;
background-color: #d5d5d5;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-webkit-border-bottom-left-radius:6px;
-webkit-border-bottom-right-radius:6px;
padding-left:10px ;
font-size: 0.9em;
padding-bottom: 5px;
}


.pbl_dialog_center{
	background-color: whitesmoke;
}

.pbl_viewBox{
background-color: #e5e5e5;
padding:5px;
}
.pbl_background{
	background-color: #e5e5e5;
}

.pbl_viewBoxLabel{
height:18px;
background-color: #d5d5d5;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
padding-left:10px ;
font-size: 0.9em;
padding-top: 3px;
padding-bottom: 2px;
}



/* @end */

/* @end */

/* @group _common_d11 theme */

/* @group Tooltip & Dialog */

/* @group connector */

/* they are common for tooltip and tooltipdialog */

._common_d11  .dijitTooltipLeft .dijitTooltipConnector {
	display: none;
}
._common_d11 .dijitTooltipRight .dijitTooltipConnector {
	display: none;
}
._common_d11  .dijitTooltipUp .dijitTooltipConnector {
	display: none;
}
._common_d11  .dijitTooltipBelow .dijitTooltipConnector {
	display: none;
}
/* @end */

/* @group HiddenTooltipDialog */

/* genro widget */

.tt_dialog_top{
	color: white;
	font-size: .94em;
	font-weight: bold;
	padding-left: 4px;
	height: 18px;
}

.tt_dialog_bottom{
	color: white;
	font-size: .94em;
	font-weight: bold;
	height: 18px;
	padding-top:3px;
	padding-left:5px;
	padding-right:5px;
}
.tt_dialog_cnt{
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: white;
}

.tt_bottom_btn .dijitButtonNode{
	color: white;
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    background: #3F5A8D;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    border: white solid 1px;
}
.tt_bottom_btnHover .dijitButtonNode{
	color: yellow;
}

/* @end */

/* @group tootlipDialog */

._common_d11 .dijitTooltipDialog .dijitTooltipContainer{
	-moz-border-radius:6px;
    -webkit-border-radius:6px;
    padding:0px;
    border: 0;
    background: #676767;
	font-size: inherit;
}



/* @end */

/* @group Pure tooltip */

._common_d11 .dijitTooltipContents{

}
    
._common_d11 .dijitTooltip .dijitTooltipContainer{
	-webkit-border-radius:0px;
    -moz-border-radius:0px;
    background: #fff4a1;
    border: 1px solid #676767;
    font-size: .8em;
	padding: 2px 4px;
	border-width: 1px;
	margin-top: 40px;
	margin-bottom: -2px;
	margin-left: -10px;
}

/* @end */




 /* @end */

.common_d11 .dijitTitlePane .dijitArrowNode {
	display: none;
}
._common_d11 .dijitButtonNode{
	padding: 0;
}

._common_d11 .dijitTitlePane .dijitTitlePaneTitle{
	background: #d5d5d5;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
    -webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	font-size: .9em;
	text-decoration: none;
	padding: 4px 4px 4px;
}
._common_d11 .dijitButton .dijitButtonNode{
	padding: 0;
	margin-bottom: 3px;
}

/* @group Accordion */
._common_d11 .dijitAccordionContainer{
	border: 1px solid gray;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
    -webkit-border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
}
._common_d11 .dijitAccordionTitle{
	background: #d5d5d5;
	padding: 4px 4px 4px 8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
    -webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	font-size: .9em;
}

._common_d11 .dijitAccordionTitle-selected{
	background: #676767;
	color: white;
	padding: 5px 4px 5px 8px;
}

._common_d11 .dijitAccordionArrow{
	display: none;
}

/* @end */

/* @group Grid */
.logicalDeleted .dojoxGrid-cell{
	color: #b50000;
}
.logicalDeleted .dojoxGrid-row-selected .dojoxGrid-cell{
	color: #b50000;
}
._common_d11 .dojoxGrid {
	background-color: transparent;
}

._common_d11 .dojoxGrid-scrollbox {
	overflow: auto;
	background-color: transparent;
}

._common_d11 .dojoxGrid-header {
	background-color: transparent;
}

._common_d11 .dojoxGrid-cell {
	padding: 1px 4px;
	border: 0px;
	border-right: 1px dotted gray;
	border-bottom: 1px dotted gray;
	height: 16px;
}
._common_d11 nopadding .dojoxGrid-cell {
	padding: 0px 0px;
}

/*
._common_d11 .dojoxGrid-row-table {
	border-collapse: separate;
}
*/
._common_d11 .cell_B .widgetInCell {
	width: 16px;	
	margin: auto;
}
._common_d11 .widgetInCell {
}
._common_d11 .widgetInCell {
	background-color: lightgoldenrodyellow;
    color: black;
	display: block;
	border: 1px inset grey;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-right: 4px;
	width: 100%;
}
._common_d11 .dojoxGrid-row .dojoxGrid-cell{
	background-color: whitesmoke;
}

._common_d11 .dojoxGrid-row-odd .dojoxGrid-cell{
	background-color: #e4e4e4;
}
._common_d11 .dojoxGrid-row-odd{
	background-color: transparent;
}
._common_d11 .dojoxGrid-row{
	background-color: transparent;
}
._common_d11 .dojoxGrid-row-selected{
	background-color: transparent;
}
._common_d11 .dojoxGrid-row-selected .dojoxGrid-cell{
	background-color: #AEC7E3;
}

._common_d11 .dojoxGrid-row-over .dojoxGrid-cell  {
	background-color: #60a1ea; 
	color:black !important;
	
}

/* @group No-over and no-selected */

._common_d11 .no_over .dojoxGrid-row .dojoxGrid-cell{
	background-color:  whitesmoke;
}

._common_d11 .no_selected .dojoxGrid-row .dojoxGrid-cell{
	background-color:  whitesmoke;
}

._common_d11 .no_over .dojoxGrid-row-over .dojoxGrid-cell {
	background-color:  whitesmoke;
}

._common_d11 .no_selected .dojoxGrid-row-selected .dojoxGrid-cell{
	background-color:  whitesmoke;
}



/* @end */



/* @end */

/* @group Tabcontainer */

._common_d11 .dijitTab{
	font-size: .9em;
	background:#d5d5d5;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
}
._common_d11 .dijitTabHover{
	opacity: 0.8;
}

._common_d11 .dijitTabInnerDiv{
	border-left: 0;
	border-bottom: 0; 
}
._common_d11 .dijitTabCheckedHover{
	opacity: 1;
}
._common_d11 .dijitTabChecked{
	background:  whitesmoke;
	border-bottom-color:whitesmoke ;
}
._common_d11 .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked{
	border-bottom-color:whitesmoke ;
}

._common_d11 .dijitTabPaneWrapper{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
	background-color: whitesmoke;
}
/* @group righttab */

._common_d11 .dijitTabLabels-right-h .dijitTab{
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-topleft:0px;
    -webkit-border-bottom-right-radius:6px;
	-webkit-border-top-right-radius:6px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-top-left-radius:0px;
}
._common_d11 .dijitTabLabels-right-h .dijitTabInnerDiv{
	border: 0;
	/*padding: 2px 3px;*/
}
._common_d11 .dijitTabLabels-right-h.dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked{
	border-left-color:whitesmoke ;
}

/* @end */

/* @group lefttab */

._common_d11 .dijitTabLabels-left-h .dijitTab{
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-topleft:6px;
    -webkit-border-bottom-right-radius:0px;
	-webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-top-left-radius:6px;

}
._common_d11 .dijitTabLabels-left-h .dijitTabInnerDiv{
	padding: 3px 4px;
}
._common_d11 .dijitTabLabels-left-h  .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked{
	border-right-color:whitesmoke ;
}

/* @end */




/* @end */

/* @group Dialog */

._common_d11 .dijitDialogTitleBar{
	background: #676767;
	vertical-align: middle;
	color: white;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	text-align: center;
}
._common_d11 .dijitDialogCloseIcon{
	display: none;
}
._common_d11 .tracebackDialog .dijitDialogCloseIcon{
	display: inherit;
}
._common_d11 .dijitDialog{
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
    -webkit-border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	border: 1px solid gray;
}
.dlg_msgbox{
	position:absolute;
	top:5px;
	left:5px;
	bottom:5px;
	right:5px;  
	border:1px solid gray;
	background-color:whitesmoke;
	text-align:center;
	vertical-align: middle;
	font-size:1em;
	padding-top: 2em;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}
.bottom_btn .dijitButtonNode{
	color: white;
	/*-moz-border-radius:6px;
    -webkit-border-radius:6px;*/
    background: #3F5A8D;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    border: white solid 1px;
	font-variant: small-caps;
	opacity: .9;
}
.bottom_btnDisabled .dijitButtonNode{
	opacity: .8;
	cursor: not-allowed !important;
}

.bottom_btnHover .dijitButtonNode{
    opacity: 1;
}
.dialog_bottom{
background-color: #676767;
color: white;
font-size: .94em;
font-weight: bold;
height: 20px;
padding-top:3px;
padding-left:5px;
padding-right:5px;
}
/* @end */

/* @end */

/* @group  pbl_messageBottom*/

.pbl_messageBottom{
	text-align: center;
	padding-top:2px;
}


/* @end */

/* @group Logo */

.pbl_logo_icon{
	background: url(icons/genropy.gif) no-repeat  center center;
	width: 30px;
	height: 24px;
}

.pbl_logo_caption{
	font-size:8.5pt;
	font-weight:bold;
	text-align:left;
	margin-top:6px;
}
/* @end */

/* @group WizardPages */

.pbl_largemessage{
	font-size: x-large;
}

.pbl_mediummessage{
	font-size: medium;
	text-align: center;
}
/* @end */

/* @group Index Page */

.page_index h1{
	
	display: block;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
    -webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	background-color:#676767;
	border: 1px solid #676767;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	padding: 6px;
	margin-top: 20px;
	margin-bottom: none;
	text-align: center;
}

.page_index .container {
	width: 85%;
	display: block;
	margin-top: -5px;
	margin-right: auto;
	margin-left: auto;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
    -webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border: 2px solid #676767;
	padding: 5px;
}

/* @end */

/* @group dragDrop */

.dojoDndItemOver		{background: #feb;}
		.dojoDndItemSelected	{background: #ccf; color: #444;}
		.dojoDndItemAnchor		{background: #ccf; color: black;}
		.dojoDndItemOver.dojoDndItemSelected	{background: #ec8;}
		.dojoDndItemOver.dojoDndItemAnchor		{background: #ec8;}
		.dojoDndItemBefore		{border-top:    3px solid red;}
		.dojoDndItemAfter		{border-bottom: 3px solid red;}
		.dojoDndHorizontal .dojoDndItemBefore		{border-top:    none;}
		.dojoDndHorizontal .dojoDndItemAfter		{border-bottom: none;}
		.dojoDndHorizontal .dojoDndItemBefore img	{border-left:  3px solid red;}
		.dojoDndHorizontal .dojoDndItemAfter img	{border-right: 3px solid red;}

/* @end */

/* @group MenuTree */
.menupane{
	background-color: #e5e5e5;
}

.menu_page  > a{
	color: white ;
	text-decoration: none;
}
.menu_page  > a:hover{
	text-decoration: underline;
}

.gnrzoomlabel{
	text-decoration: none;
	padding-left:15px;

}
.gnrzoomlabel:hover{
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	background: transparent url(icons/linkto.gif) no-repeat;
}

.gnrzoomcell{
	text-decoration: none;
	padding-left:3px;
	padding-right:3px;
	color:inherit;
}
.gnrzoomcell:hover{
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	background: yellow;
}


.gnrmenulabel{
	text-decoration: none;
	padding-right:15px;
    cursor:pointer;
    font-weight:bold;
    background: url(icons/linktomenu.gif) right no-repeat;
}
.gnrmenulabel:hover{
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	background:  #adc2ff url(icons/linktomenu.gif) right no-repeat;
}



.menupane > div{
	position: absolute;
	left: 0px;
	right: 4px;
	top: 4px;
	bottom: 4px;
	-moz-border-radius-topright:7px;
	-moz-border-radius-bottomright:7px;
    -webkit-border-bottom-right-radius:7px;
    -webkit-border-top-right-radius:7px;

    border: 3px solid white;

    border-left: 0px;
    overflow-y:auto;
}

.menutree{
	margin-top: 15px;
	margin-right: 10px;
	font-weight: bold;
	background-position: left;
}
.menutree .dijitTreeIcon{
	visibility: hidden;
	cursor: pointer;
	
}
.menutree .dijitTreeExpando{
    display: none;
}

.menutree .dijitTreeIsLast{
	background: none;
}
         
.menutree .dijitTreeNode{
	background: none;
}

.menutree .dijitTreeContent{
    margin-left:0px;
    min-height:10px;
    padding-bottom:4px;
    padding-top:0px;
}

.searchWidth{
    width 6em;
}

.menutree .menu_level_0{
    border: 1px solid white;
	background-color: #3f3f3f;
	color: white;
	font-size: 1em;
}

.menutree .menu_level_1{
    border: 1px solid white;
	background-color: #3f3f3f;
	color: white;
	font-size: 1em;
}

.menutree .menu_level_2{
	border: 1px solid white;
	background-color: #3f3f3f;
	color: white;
	font-size: 1.1em;
}

.menutree .menu_level_3{
    border: 1px solid white;
	background-color: #3f3f3f;
	color: #f8f8f8;
	font-size: 1em;
}

.menutree .menu_level_4{
    border: 1px solid white;
	background-color: #3f3f3f;
	color: #f8f8f8;
	font-size: 1em;
}

.menutree .menu_page{
	border: 1px solid white;
	background-color: #8b8b8b;
	color: #fff;
	font-size: .9em;
}

.menutree .menu_shape{
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
    -webkit-border-bottom-right-radius:6px;
    -webkit-border-top-right-radius:6px;
	opacity: .7;
	cursor: pointer;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #4d4d4d;
}

.menutree .menu_shape:hover{
	opacity: 1;
}

.menutree .dijitTreeIcon{
	display: block;
	float: left;
}


/* @end */

/* @group DynamicEditor */

.formattedBox{
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	background-color: white;
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
    border: 1px solid silver;
    padding: 5px;
    overflow:auto;
}


/* @end */

/* @group Menu */
._common_d11__ .dijitMenu {
	border:1px solid gray;
	background-color:whitesmoke;
	position:relative;
	top: 3px;
	left: 4px;
	border-top: 0px;
    padding-bottom:6px;
    padding-left:3px;
	padding-right:3px;
	}
._common_d11__ .dijitMenuTable {
	margin:1px 0;
	border-collapse:collapse;
	border-width:0;
	background-color:whitesmoke;
}

._common_d11__ .dijitMenuItem{
	white-space: nowrap;
		font-size:.9em;
	color: ;
   	padding:0em 0em;
	border-bottom:1px solid white;
}


/* @end */
.editorPane .RichTextEditable{
	border: 0px !important;
	background-color: white;
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}