.documentationTable{
    border-collapse: collapse;
}

.documentationTable td{
    border: 1px solid silver;
    color:#666;
}
.documentationTable th{
    background: rgba(0, 155, 255, 0.32);
    color:#666;
    border: 1px solid rgba(0, 155, 255, 1);

}
