.menutree .opendir{
    width: 12px;
    background: url(icons/tinyOpenBranch.png) no-repeat center center;
}
.menutree .closedir{
    width: 12px;
    background: url(icons/tinyCloseBranch.png) no-repeat center center;
}

.tundra .menutree .dijitTreeIcon{
    height: 20px;
}

.menutree .treeNoIcon{
    width: 12px;
}

.menutree .menu_level_0 {
}

.menutree .menu_level_1 {
}

.menutree .menu_level_2 {
}

.menutree .menu_level_3 {
}

.menutree .menu_level_4 {
}
.menutree .menu_level_5 {
}
.menutree .menu_level_6 {
}
.menutree .menu_level_7{
}
.menutree .menu_page.menu_shape {

}