python-dateutil
paste
mako
vobject
pytz
babel
httplib2
selectors34
serpent<1.30
pyro4
argparse
xlrd
xlwt
docutils
redbaron
future
boto3
smart_open
tornado<5
toro
gunicorn
supervisor
futures
lxml
psutil
simpleeval
webob
werkzeug
webob
six
sphinx
sphinx_rtd_theme
sphinx-sitemap
tzlocal