/* @group Iscrizione_pycon */
.preformattato { white-space: pre-wrap;       /* css-3 */ white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */ white-space: -pre-wrap;      /* Opera 4-6 */ white-space: -o-pre-wrap;    /* Opera 7 */ word-wrap: break-word;       /* Internet Explorer 5.5+ */}
p, dl, ul, ol, table {
margin-bottom:0em;
}
.gnrmenu{
width: 4em;
background-color: white;
font-size: .7em;
color:gray;
display: block;
}

.tickets_hidden{
	display: none;
}
.empty_ticket{
	border: 3px dashed white;
}
.empty_ticket  .onlyFilled {
	display: none;
	}
.filled_ticket .onlyEmpty{
	display: none;
}
.printicn{
	background: url(images/printer_16x16.gif) no-repeat center center;
	height: 32px;
	width: 32px;
}


.ticket_new{
	width: 120px;
	padding: 5px;
	margin-top:20px;
	font-size:0.95em;
    text-align:center;
    color: #dac656;
    margin-left:auto;
    margin-right:auto;
    border:2px solid #dac656;
    
}

.ticket_new:hover{
	background-color: #ffffe9;
	cursor:pointer;
}
.tiket_erase{
	height: 18px;
	width: 22px;
	float: left;
	background: url(images/trash_16x16.gif) no-repeat 50% bottom;
	cursor:pointer;
  }
.tiket_edit{
	height: 18px;
	width: 20px;
	float: right;
	background: url(images/lens_16x16.gif) no-repeat 50% bottom;
	cursor:pointer;
}
.ordine_mod_persona{
	background: url(images/viewmag.gif) no-repeat 93%;
	margin: auto;
}

.ordine_tickets{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width:676px;
	align: center;
	}

.ordine_ticket{
	margin: 4px;
	width: 210px;
	height: 80px;
	align: center;
	float:left;
}

.filled_ticket{
	background-color: #3272a6;
	border: 3px solid #ffe566;
}

.filled_ticket.OMG{
	border-color: green;
}
.filled_ticket.TK_STU{
	border-color: orange;
}

.dlg_titlebar{
	width:320px;
	height: 18px;
	background-color: #1c5a8c;
	border-bottom:1px solid white;

}
.dlg_titlebar_title{
	width:320px;
	text-align: center;
	margin-top: 4px;
	float: left;
}
.dlg_titlebar_icon{

	width: 20px;
	height: 16px;
	background: url(images/tabClose.gif) no-repeat 50% top;
    float: right;
}

/* @end */

/* @group presentazione_talk */

.talk_abstract{width: 720px;
               margin: 5px;
	          height:210px ;
              border: 0px ;
              overflow-y:auto !important;
              font-size: .9em;
              }
              

.speakerimg{
	border: 8px solid #a4beff;
	width: 132px;
	margin:6px;
}

.pres_oratore{
	width: 560px;
	height:200px ;
    border: 0px ;
    padding: 4px;
    font-size: .9em;
    overflow-y:auto !important;
    }

/* @end */
.talk_cell_row1{
	padding: 2px;
	background-color: silver !important;
}

.talk_cell_row2{
	font-style: italic;
	border-bottom:2px solid gray !important;
}
.form_textarea {
	width: 720px;
	height:100px ;
    overflow-y:auto !important;
    border:1px solid #999;
}

/* @group sponsorizzazione */

.page_sponsorizzazione .filled_ticket{
	background-color: #21a850;
	border: 3px solid #ffe566;
}

.page_sponsorizzazione .ordine_tickets{
		margin-top: 5px;

}

.page_sponsorizzazione .ordine_ticket{
	height: 60px;
}

.page_sponsorizzazione .ticket_new{
		margin-top:10px;
	}



/* @end */



/* @group talklist */

.talklist table{
	margin-bottom: 0px;
}

.talklist .dojoxGrid-row {
	position: relative;
	width: 9000em;
	border: none;
	border-left: none;
	border-right: none;
	background-color: #fff;
	border-top: none;
	border-bottom: 1px solid silver;
}

.talklist .dojoxGrid-row:hover {
	background-color: #fbff94;
	
}
.talklist .dojoxGrid-row-over .dojoxGrid-cell {
	background: none;
	color: #0c2c45;
}

.talklist .dojoxGrid-row-odd {
	background-color: #f7f7f7;
}


.talklist .dojoxGrid-row-odd:hover {
	background-color: #fbff94;
}

.talklist .dojoxGrid-row-selected {
	background-color: #4092d6;
	color: white;
}

.talklist .dojoxGrid-row-selected:hover {
	background-color: #8ffaff;
}

.talklist .dojoxGrid-row-table {
	table-layout: fixed;
	width: 0;
}

.talklist .dojoxGrid-invisible {
	visibility: hidden;
}		

.talklist .Xdojo-ie .dojoxGrid-invisible {
	display: none;
}		

.talklist .dojoxGrid-invisible td, .dojoxGrid-header .dojoxGrid-invisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}

/* cells */
.DP{
	background-color: #007f32;
	padding:3px;
}
.SP{
	background-color: #943d49;
	padding:3px;
}
.IP{
	background-color: #0f098d;
	padding:3px;
}
.talk_commento{
	width: 600px;
	height:200px;
    border:1px solid #999;
 }
 
.talk_voto{
	font-size: 1.2em;
	background-color: #3272a6;
	color:white;
	padding: 2px;
	text-align: center;
 }

.talk_oratore{
	background-color: #1c5a8c;
	color: white;
	font-size: 1.1em;
	padding: 2px;
}

.talk_titolo{
	background-color: #1c5a8c;
	color: white;
	text-align: center;
	font-size: 1.1em;
	padding: 2px;
}
.talk_track{
	background-color: #1c5a8c;
	color: white;
	text-align: right;
	font-size: 1.1em;
	padding: 2px;
}
.talk_durata{
}
.talk_abstract{
}
.talklist .dojoxGrid-cell {
	border: 1px solid transparent;
	border-right: 1px solid #D5CDB5 !important;
	text-align: left;
	overflow: hidden;
	padding-top: 1px;
	padding-bottom: 1px;
}

.dj_ie6 .talklist .dojoxGrid-cell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}

.talklist .dojoxGrid-cell-focus {
	border-color: none
}

.talklist .dojoxGrid-cell-over {
	border-color: none;
}

.talklist .dojoxGrid-cell-focus.dojoxGrid-cell-over {
	border-color:  transparent;
}

.talklist .dojoxGrid-cell-clip {
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.talklist{
    color: #1c5a8c;
    
}

.talklist_cells{

}
.talklist_headers{
    font-weight: bold;
	text-align: center ! important;
	}



/* @end */
.classifica_talk td{
	font-family: "Courier New", Courier, mono;
	font-size: .9em;
}

