/* @override http://localhost:9090/gnrsites/assopy/pages/assopy/_skins/gnr_blue/folder.css */

.disabled{
	opacity: 0.10;
}

.ordine_tickets{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width:676px;
	height: 250px;
	align: center;
	}
	
.ordine_ticket{
	margin: 4px;
	width: 210px;
	height: 80px;
	align: center;
	float:left;
}


.filled_ticket{
	background-color: #3272a6;
	border: 3px solid #ffe566;
}
.tickets_hidden{
	display: none;
}
.empty_ticket{
	border: 3px dashed white;
}
.empty_ticket  .onlyFilled {
	display: none;
	}
 .filled_ticket .onlyEmpty{
	display: none;
}
.ticket_new{
	width: 120px;
	padding: 5px;
	margin-top:20px;
	font-size:0.95em;
    text-align:center;
    color:#ffe566;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #ffe566;
    
}
.ticket_new:hover{
	background-color: #ffffe9;
	cursor:pointer;
}
.tiket_erase{
	height: 18px;
	width: 22px;
	float: left;
	background: url(images/trash_16x16.gif) no-repeat 50% bottom;
	cursor:pointer;
  }
.tiket_edit{
	height: 18px;
	width: 20px;
	float: right;
	background: url(images/lens_16x16.gif) no-repeat 50% bottom;
	cursor:pointer;
}
.dlglabel{
    color: white;
    text-align: right;
    vertical-align:middle;
}
.dlgfield{
	
}
.dlgfield:active{
    border: 1px solid #ffe566;
}
.dlg_titlebar_title{
	width:250px;
	text-align: center;
	margin-top: 4px;
	float: left;
}
.dlg_titlebar_icon{

	width: 20px;
	height: 18px;
	background: url(images/tabClose.gif) no-repeat 50% 50%;
    float: right;
}
.ordine_mod_persona{
	background: url(images/viewmag.gif) no-repeat 93%;
	margin: auto;
}
.apy_topPane {
	height: 80px;
	background: url(images/logo.gif) no-repeat 2em;
}
.apy_topPane2 {
	
	background: transparent url(images/upbar.jpg) repeat-x;
	height: 14px;
}

.apy_leftPane {
	background-color: #d9d9d9;
	padding: 5px;
	width: 15em;
}

.apy_bottomPane {
	background-color: #004d9c;
	height: 1.6em;
}

.apy_gnr_bottomLogo{
	font-weight: bold;
	color: silver;
	margin-left: 1em;
}

.speakerimg{
	border: 8px solid #a4beff;
	width: 132px;
	margin:6px;
}

.pbl_formContainer {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	/*width:580px;
	height:430px;*/
	margin: 10px;
}

.dijitFileInputReal{
	size: 3!important;
}
.pbl_formContainerTitle{
	height: 1.2em;
	padding: 3px;
	background-color: #3272a6;
	font-size: medium;
	text-align: center;
	color: white;
}
.pbl_formContainerClient{
	border: 1px solid  #3272a6;
	margin-top: 2px;
}

.pbl_formContainerBottom{
	height: 3em;
}

.pbl_formMsgBox{
    height: 1.4em;
    border-top: 1px solid  #c3e9f6;
    border-bottom: 1px solid  #c3e9f6;
    border-left: 1px solid  #c3e9f6;
    border-right: 1px solid  #c3e9f6;
    text-align: center;

    
}

.gnrfield{
	height: 18px;
	width: auto;
	vertical-align: middle;
	white-space: nowrap;
}

.gnrfieldlabel{
	color: #3272a6;
	vertical-align: middle;
	text-align: right;
}

.query_button{
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #3272a6;
	text-align: center;
	font-size: 0.94em;
	padding-top: 2px;
	padding-bottom: 3px;
	cursor: pointer;
}



/* @end */



.query_button:active{
	color: #ffe566;
	background-color: #24006c !important;

}
.query_button:hover{
	color: #fdff26;
	background-color: #4092d6;
}

.pbl_button{
	color: #3272a6;
	height: 22px;
	background-color: #ccc;
	text-align: center;
	margin: 2px;
	width: 10em;
	padding-top: 6px;
	font-weight: bold;
	cursor: pointer;
}

.pbl_button:hover{
	color: #ccc;
	background-color: #3272a6;
}
.pbl_button:active{
	color: #ffe566;
	font-weight: bold;
	background-color: #24006c;
}

.pbl_paypal{
	background: url(https://www.paypal.com/it_IT/IT/i/btn/btn_donateCC_LG.gif
) no-repeat 10%;

width: 122px;
height: 47px;
}


.pbl_confirm{
	background: #ccc url(images/button_ok.gif) no-repeat 10%;
}
.pbl_cancel{
	background: #ccc url(images/button_cancel.gif) no-repeat 10%;
}

body .dijitFakeInput{
	height: 1.2em !important;
	}
body .dijitInputField{

	vertical-align: top;
	}
	
table.pbl_index{
	margin: auto;
	border-collapse:separate;
	border-spacing:10px;
}


.pbl_index caption{
	color: #3272a6;
	text-align: center;
	font-size: medium;
	margin-top: 2em;
	margin-bottom: 2em;
}

.pbl_index td{
	color: #3272a6;
	width: 200px;
	height: 30px;
	background-color: #ccc;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;	
	cursor: pointer;
}

.pbl_index td:hover{
	color: #ccc;
	background-color: #3272a6;
}
.pbl_index td:active{
	color: #ffe566;
	font-weight: bold;
	background-color: #24006c;

}
.pbl_largemessage{
	color: #3272a6;
	text-align: center;
	font-size: large;
}

.dijitTooltipContainer {
    font-size: 8pt !important;
}

.pres_oratore{
	min-width: 440px;
	min-height:220px !important;
    min-height:220px !important;
    overflow-y:auto !important;}
              
              
.talk_abstract{width: 720px;
               margin-left: 10px;
	          min-height:210px !important;
              max-height:210px !important;
              overflow-y:auto !important;}

.localizetool  {
    margin:10px;
	border-collapse: collapse;
	color: #3a3a3a;
	font-size: x-small;
}
.localizetool th {
	padding:2px;
	border: thin solid #c8c8c8;
	background-color: #a1a1a1;
	font-weight: bold;
	text-align: center;
}

.localizetool tr > td.localizetool_lbl {
	padding:2px;
	color: white;
	border: thin solid #c8c8c8;
	background-color: #4f4f4f;
	text-align: right;
}
.localizetool tr > td.localizetool_fld {
	padding:2px;
	border: thin solid #c8c8c8;
	background-color: white;
}

.en_flag{
	background: url(images/en_flag.gif) no-repeat center center;
	height: 100%;
	width: 18px;
	display: block;
	float: right;
}
.en_flag:hover{
	background: url(images/en_flag.gif) no-repeat center center;
}

/* My Comment */

.it_flag{
	background: url(images/it_flag.gif) no-repeat center center;
	height: 100%;
	width: 18px;
	display: block;
	float: right;
	margin-right: 8px;
}
.logout{
	background: url(images/shutdown_20x20.gif) no-repeat center center;
	height: 100%;
	width: 20px;
	display: block;
	float: right;
	margin-right: 4px;
}
.logout:hover{
		background: url(images/logout_16x16.gif) no-repeat center center;
	}
.it_flag:hover{
	background: url(images/it_flag.gif) no-repeat center center;
}

.genrologo{
	color: :white;
	font-size: .7em;
	text-align: left;
	margin-left: 4px;
	font-weight: bold;
	background: url(images/genropy.gif) no-repeat left center;
	height: 100%;
	padding-left: 22px;
	padding-top: 3px;
	display: block;
}

/* @group grid */
/* rows */

.pkg_assopy .dojoxGrid-row {
	position: relative;
	width: 9000em;
	border: none;
	border-left: none;
	border-right: none;
	background-color: #fff;
	border-top: none;
	border-bottom: 1px solid silver;
}

.pkg_assopy .dojoxGrid-row:hover {
	background-color: #f2f2f2;
	
}
.pkg_assopy .dojoxGrid-row-over .dojoxGrid-cell {
	background: none;
	color: #0c2c45;
}

.pkg_assopy .dojoxGrid-row-odd {
	background-color: #edf9f8;
}


.pkg_assopy .dojoxGrid-row-odd:hover {
	background-color: #aacffa;
}

.pkg_assopy .dojoxGrid-row-selected {
	background-color: #fbff94;
}

.pkg_assopy .dojoxGrid-row-selected:hover {
	background-color: #fdff00;
}

.pkg_assopy .dojoxGrid-row-table {
	table-layout: fixed;
	width: 0;
}

.pkg_assopy .dojoxGrid-invisible {
	visibility: hidden;
}		

.pkg_assopy .Xdojo-ie .dojoxGrid-invisible {
	display: none;
}		

.pkg_assopy .dojoxGrid-invisible td, .dojoxGrid-header .dojoxGrid-invisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}

/* cells */

.pkg_assopy .dojoxGrid-cell {
	border: 1px solid transparent;
	border-right: 1px solid #D5CDB5 !important;
	text-align: left;
	overflow: hidden;
}

.dj_ie6 .pkg_assopy .dojoxGrid-cell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}

.pkg_assopy .dojoxGrid-cell-focus {
	border-color: none
}

.pkg_assopy .dojoxGrid-cell-over {
	border-color: none;
}

.pkg_assopy .dojoxGrid-cell-focus.dojoxGrid-cell-over {
	border-color:  transparent;
}

.pkg_assopy .dojoxGrid-cell-clip {
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.lst_grid{
    color: #1c5a8c;
	font-size: x-small;

}

table{
	margin-bottom: 0px;}
}
.lst_grid_cells{

}
.lst_grid_headers{
    font-weight: bold;
	text-align: center ! important;
	}

/* @end */

/* @group menu */
.pkg_assopy .dijitMenuItem {
	font-size: .85em;
}
.pkg_assopy .dijitMenuItem TD {
	padding:0px;
}




/* @end */


.dlg_ask_msg{
	padding:10px;
	text-align: center;
	font-size: .9em;
	font-weight: bold;
	
}
