
.exm_roundedGroupLabel {
    height: 20px;
    line-height:19px;
    padding-bottom: 0;
    padding-left: 4px; 
    padding-right: 4px;    
    background-color: #49637c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.0em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#C8D1DC), to(#B4BECB));
    background-image: -moz-linear-gradient(-90deg, #C8D1DC, #B4BECB);
    color: #FFFFFF;
}

/* @group example_styles */

.loginbox{
	height: 270px;
	width: 400px;
	background:transparent; /*  url(images/loginbox.gif)  no-repeat  center center */
	box-shadow:4px 4px 7px #444;
}

.loginbox .dijitButtonNode{
    color: red;
}
.page_login #mainWindow{
	 background: transparent;
}
.page_login{
    background:transparent;
}

.page_login .formTitle{
	font-size: medium;
	font-weight: bold;
}


.page_login .dijitInputField{
    font-size:1.1em;
    line-height: 20px;
    padding-left:4px;
}

.page_login .dijitMenuItem{
    font-size:1em;
    line-height: 14px;
}

.page_login a{
	text-decoration: none;
	color: #234372;
}

/* @end */




.exampleToolbar .multibutton_container{
    padding-top:1px;
    padding-bottom:1px;
    line-height:normal;
    font-size: 11px;
    font-variant:normal;
    height: auto;
}

.exampleToolbar .multibutton:hover{
    text-decoration: normal;
}



.exampleToolbar .multibutton_selected.multibutton{
    color: whitesmoke;
   /* border: 0px;*/
     background: whitesmoke;
    color:#445D84;

    -moz-box-shadow: inset 3px 3px 3px #ACACAC;
    -webkit-box-shadow:inset 3px 3px 3px #ACACAC;
}
.exampleToolbar .multibutton_selected.multibutton:hover{
    text-decoration:none;
    background: white;
}

.exampleToolbar .multibutton{
    position:relative;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    padding-top: 3px;
    padding-bottom: 2px;
    cursor:pointer;
    border: 0;
    background:whitesmoke;
    color:#3E454C;
    border-radius: 4px;
    margin-right:5px; 
    border: 1px solid #848C94;
    /*line-height:20px;
    font-size: 9pt;
    font-variant:small-caps;*/
}
.exampleToolbar .multibutton.multibutton_closable{
    padding-right:15px;
}

.exampleToolbar .multibutton:hover{
    text-decoration:none;
    background: white;
}