
.exm_roundedGroupLabel {
    height: 20px;
    line-height:19px;
    padding-bottom: 0;
    padding-left: 4px; 
    padding-right: 4px;    
    background-color: #49637c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.0em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#C8D1DC), to(#B4BECB));
    background-image: -moz-linear-gradient(-90deg, #C8D1DC, #B4BECB);
    color: #FFFFFF;
}

/* @group example_styles */

.loginbox{
	height: 270px;
	width: 400px;
	background:transparent; /*  url(images/loginbox.gif)  no-repeat  center center */
	box-shadow:4px 4px 7px #444;
}

.loginbox .dijitButtonNode{
    color: red;
}
.page_login #mainWindow{
	 background: transparent;
}
.page_login{
    background:transparent;
}

.page_login .formTitle{
	font-size: medium;
	font-weight: bold;
}


.page_login .dijitInputField{
    font-size:1.1em;
    line-height: 20px;
    padding-left:4px;
}

.page_login .dijitMenuItem{
    font-size:1em;
    line-height: 14px;
}

.page_login a{
	text-decoration: none;
	color: #234372;
}

/* @end */