.reportbody{
    color:#222;
    font-family: sans-serif;
}
.reportbody a{}


.report_title{
    text-align: center;
}
.report_summary{
    padding: 10px;
    font-style: italic;
}

.report_content .dataframe tbody tr:nth-child(even) {
    background-color:RGBA(17, 78, 136, 0.09);
}


.report_content .dataframe{
    border-collapse: collapse;
    border:1px solid #ddd;
    color:#444;
    font-family: "Arial Narrow";  
    font-size: 12px;  
}
.report_content .dataframe tbody th{
    font-weight: normal;
    text-align: left;
    padding-left: 10px;
}

.report_content .dataframe thead th{
    font-weight: bold;
    color:#444;
    text-align: center;
    text-transform: capitalize;
}
.report_content .dataframe td{
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}