*:focus { outline:none }

a{text-decoration:none;}
a.aBtFooter{color:#36373B;} 
 

body {
	background:url(images/bg_rpt.jpg) repeat;
	margin: 0px;
	font-family:Calibri,"Tw Cen MT",Arial,Verdana,Tahoma,"Stylus BT","Lucida Grande",Eurostile;
}

#header,#footer,#mainWindow{border-left:20px solid #BCCFE0;border-right:20px solid #BCCFE0;}
#header{width:900px;height:150px;margin:0 auto;background:url(images/header.jpg)  no-repeat  top left;}
#headSlogan{position:relative;color:white;height:90px;width:260px;top:25px;left:610px;
			font-size:190%;text-align:right;overflow:hidden;}
#footer{width:900px;height:100px;margin:0 auto;background:url(images/footer.jpg)  no-repeat  top left;}
#footerCnt{text-align:center;color:#F4F4F4;padding-top:70px;}