.site_header{
    height:35px;
}
.site_body{
    background: #133463;
}
.site_center{
	margin: 10px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background-color: #f3eedb;
}
.loginbutton .dijitButtonNode{
	background: #ba9b65;
	color: #f4efdc;
	border: 1px solid #365fb7;
	padding: 0;
	font-size: .7em;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}