.site_header{
    height:35px;
}
.site_body{
    background: #698a98;
}
.site_pane{
	margin: 20px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background-color: #ececdd;
	-webkit-box-shadow: 5px 5px 10px #472828; 
    -moz-box-shadow:  5px 5px 10px #472828; 

}
-
.site_left{
	width:200px;
}
.site_right{
	width:200px;
}
.loginbutton .dijitButtonNode{
	background: #ba9b65;
	color: #f4efdc;
	border: 1px solid #365fb7;
	padding: 0;
	font-size: .7em;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* @group train theme */
c_0 {background-color: #472828;}

c_1 {background-color: #5a5e76;}

c_2 {background-color: #698a98;}

c_3 {background-color: #e3cb80;}

c_4 {background-color: #ececdd;}
/* @end */

