/*vico*/
.frameindexroot{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#e6e6e6), to(#ffffff));
    background-image: -moz-linear-gradient(-90deg, #e6e6e6, #ffffff);
}

/* @group Floating pane */

._common_d11 .dojoxDockRestoreButton {
    float: left;
    height: 13px;
    margin-top: 1px;
font
}

._common_d11 .dojoxDockNode {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #ADADAD;
    cursor: pointer;
    float: left;
    height: 13px;
    list-style: none outside none;
    margin-top: 3px;
    padding: 0 7px 3px 0;
    width: auto;
    font-size: .9em;
    background-color: rgba(170, 190, 201, 0.2);
}

.tundra .dojoxFloatingPane .dijitTabInnerDiv {
    padding: 2px 9px;
}

.tundra .smallTabs .dijitTabInnerDiv {
    padding: 2px 9px;
}

._common_d11 .dojoxFloatingPaneContent {

}

._common_d11 .dojoxFloatingPane {
    border-radius: 4px;
    box-shadow: 4px 4px 6px #403b3b;
    border: 0px
}

._common_d11.tundra .dojoxFloatingPaneTitle {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(silver), to(gray));
    background-image: -moz-linear-gradient(-90deg, silver, gray);
    vertical-align: middle;
    text-align: center;
    color: #F5F5F5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: .9em;
}

/* @end */

/* @group pbl_elements */

/* @group Root Layout */


/* @group top */

.pbl_username {
    border-radius: 6px;
    background-color: #bfb6ae;
    color: #403b3b;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 6px;
}

.pbl_slotbar_label {
    border-radius: 6px;
    border-radius: 6px;
    background-color:#8693a5;
    color: #403b3b !important;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    margin-top:2px !important;
    color:white !important;
}

.pbl_root_top {
    height: 22px;
    vertical-align: middle;
    color: white;
    background:#6c727d;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#bdc7d6), to(#6c727d));
    background-image: -moz-linear-gradient(-90deg, #bdc7d6, #6c727d);*/
}

/*background-color: #59514f;
    color: #ece3da;*/

.pbl_title_caption {
    font-size: 11pt;
    margin-top: 1px;
    text-align: center;
}

.pbl_background {
    background-color: #ffffff;
}

/* @group Logo */

/*.pbl_logo_icon{
	background: url(icons/genropy.gif) no-repeat  center center;
	width: 30px;
	height: 24px;
}*/

.pbl_logo_caption {
    font-size: 8.5pt;
    font-weight: bold;
    text-align: left;
    margin-top: 6px;
}

/* @end */

/* @end */

/* @group bottom */

/* @group  pbl_messageBottom*/

.pbl_messageBottom {
    text-align: center;
    padding-top: 2px;
}

/* @end */

/* @end */

.pbl_root {
    background:;
}
.pbl_root_bottom {
    height: 20px;
    line-height:20px;
    vertical-align: middle;
    background:#6c727d;
   /* background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#6c727d), to(#bdc7d6));
    background-image: linear-gradient(-90deg, #6c727d, #bdc7d6);*/
}

/* @end */

/* @group Widget */

/* @group Dialog */

.pbl_dialog_center {
/*not mandatory*/
}

/* @end */

/* @group includedviewbox */

.pbl_viewBox {
    padding: 5px;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(170, 190, 201, 0.2);
}

.pbl_viewBoxLabel {
    height: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: rgba(177,191,206,0.9);
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(177,191,206,0.9)), to(rgba(254,255,255,0.9)));
    background-image: -moz-linear-gradient(180deg, rgba(254,255,255,0.9), rgba(177,191,206,0.9));
    color: #000;
}

/* @end */

/* @end */

/* @group Form group */
.pbl_roundedGroup {
    border-radius: 6px;
    border:1px solid #ddd;
}

.pbl_roundedGroupLabel {    
    height: 20px;
    line-height: 20px;
    padding-bottom: 0;
    padding-left: 4px; 
    padding-right: 4px;    
    background-color: #49637c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.9em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#C8D1DC), to(#B4BECB));
    background-image: -moz-linear-gradient(-90deg, #C8D1DC, #B4BECB);
    color: #555;
}

.pbl_roundedGroupLabel.slotbar_horizontal.slotbar_toolbar{
    line-height: 14px;
    padding-left:0;
    padding-right:0;
}

.pbl_roundedGroupBottom {
    height: 18px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-bottom: 5px;
    background:#5b6377;
}

/* @end */



/* @group Form group rect */
.pbl_rectGroup {
    background-color: rgba(170,190,201,0.2);
}

.pbl_rectGroupLabel {
    height: 18px;
    background-color: #49637c;
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 5px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(73, 99, 124, 99)), to(rgba(225, 233, 233, 0.99)));
    background-image: -moz-linear-gradient(180deg, rgba(238,245,254, 99), rgba(73, 99, 124, 0.99));
    color: #feffff;
}

.pbl_rectGroupBottom {
    height: 18px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-bottom: 5px;
    background-color: #B2BDC7
}

/* @end */

/* @end */

/* @group Widget Customization */

/* @group Dialog */

/* @group alert */

.dlg_msgbox {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 0px;
    background-color: rgba(170, 190, 201, 0.2);
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding-top: 2em;
    border-radius: 6px;
}

/* @end */

.tundra._common_d11 .dijitDialogTitleBar {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(silver), to(gray));
    background-image: -moz-linear-gradient(-90deg, silver, gray);
    color: #ffffff;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    font-weight:normal;
    border-bottom:1px solid #ccc;
    font-size: .9em;
}

/*._common_d11 .dijitDialogCloseIcon {
    display: none;
}*/

._common_d11 .dijitDialog {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F5F5F5;
    box-shadow: 3px 3px 5px #403b3b;
    border:0px solid silver;
}

._common_d11 .dijitDialog .dijitDialogPaneContent {

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0px;
    background-color: #F5F5F5;

    /*background-image: -moz-linear-gradient(-90deg, rgba(170, 190, 201, 0.2), #FFFFFF);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, rgba(170, 190, 201, 0.2), to(#FFFFFF));*/
}

.dialog_bottom {
    height: 22px;
    border-top:1px solid silver;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* @end */

/* @group Accordion */
._common_d11 .dijitAccordionContainer {
    border: 1px solid gray;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

._common_d11 .dijitAccordionTitle {
    background: #E0CEBE;
    padding: 4px 4px 4px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: .9em;
}

._common_d11 .dijitAccordionTitle-selected {
    background: #4D5962;
    color: white;
    padding: 5px 4px 5px 8px;
}

._common_d11 .dijitAccordionArrow {
    display: none;
}

/* @end */

.mycolor {
    color: #68858e;
}

.mycolor2 {
    color: rgba(245, 245, 245, 0.99);
}

/* @group Tabcontainer */

._common_d11 .dijitTab {
    font-size: .9em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#C8D1DC), to(#B4BECB));
    background-image: -moz-linear-gradient(-90deg, #C8D1DC, #B4BECB);
    margin-right: 2px;
    color: #f5f7fe;
    font-weight: plain;
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(104,133,142,0.99)), to(rgba(223,223,223,0.99)));
  background-image:-moz-linear-gradient(top, bottom,from(rgba(104,133,142,0.99)), to(rgba(223,223,223,0.99)));*/

}

._common_d11 .dijitTabHover {
    opacity: 0.8;
}

._common_d11 .dijitTabInnerDiv {
    border-left: 0;
    border-bottom: 0;
    padding:3px 5px 3px 5px;
}

._common_d11 .dijitTabCheckedHover {
    opacity: 1;
}

._common_d11 .dijitTabChecked {
    background: #F5F5F5;
    border-bottom-color: #8a9ba5;
    color: #ccc;
}

._common_d11 .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    background: #F5F5F5;
    border-bottom-color: #F5F5F5;
    color: #555;
}

._common_d11 .dijitTabPaneWrapper {
    border-radius: 6px;
    border-top-left-radius: 0px;
    background-color: #F5F5F5;
}

/* @group righttab */

._common_d11 .dijitTabLabels-right-h .dijitTab {

    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

._common_d11 .dijitTabLabels-right-h .dijitTabInnerDiv {
    border: 0; /*padding: 2px 3px;*/
}

._common_d11 .dijitTabLabels-right-h.dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-left-color: whitesmoke;
}

/* @end */

/* @group lefttab */

._common_d11 .dijitTabLabels-left-h .dijitTab {

    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;

}

._common_d11 .dijitTabLabels-left-h .dijitTabInnerDiv {
    padding: 3px 4px;
}

._common_d11 .dijitTabLabels-left-h  .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-right-color: whitesmoke;
}

/* @end */

/* @end */

/* @group Grid */

/* @end */

/* @group tootlipDialog */

._common_d11 .dijitTooltipDialog .dijitTooltipContainer {
    border-radius: 6px;
    padding: 0px;
    border: 0;
    background: #68858E;
    font-size: inherit;
}

/* @end */

/* @group MenuTree */

.menu_page  > a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu_page  > a:hover {
    text-decoration: underline;
}

.menupane {
    background-color: rgba(168, 181, 182, 0.8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(176, 189, 195, 0.20)), to(rgba(176, 189, 195, 0.9)));
    background-image: -moz-linear-gradient(-90deg, rgba(176, 189, 195, 0.20), rgba(238, 245, 254, 0.9));
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 7px;
    box-shadow: 4px 4px 4px #403b3b;
    border-left: 0px;
}

.menutree {
    margin-top: 5px;
    margin-right:3px; /*font-weight: bold;*/
    background-position: left;
}

.menutree .dijitTreeContent {
    margin-left: 0px;
    min-height: 10px;
    padding-bottom: 4px;
    padding-top: 0px;
}

.menutree .menu_level_0 {
    font-size: 1.1em;
}

.menutree .menu_level_1 {
    font-size: 1.1em;
}

.menutree .menu_level_2 {
    font-size: 1em;
}

.menutree .menu_level_3 {
    font-size: .9em;
}

.menutree .menu_level_4 {
    font-size: .9em;
}
.menutree .menu_level_5 {
    font-size: .8em;
}
.menutree .menu_level_6 {
    font-size: .8em;
}
.menutree .menu_level_7{
    font-size: .8em;
}
.menutree .menu_page.menu_shape {
}

.menutree .menu_shape {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#C8D1DC), to(#B4BECB));
    background-image: -moz-linear-gradient(-90deg, #C8D1DC, #B4BECB);
    margin-right: 8px;
    box-shadow: 2px 2px 2px #403b3b;
    margin-top: 3px;
    color: #444;
}

.menutree .menu_current_page {
    background:#488fd7;
    color:#ddd;
}
.menutree .menu_existing_page.menu_shape  {
    font-weight:bold;
}

.menutree .menu_shape:hover {
    box-shadow: 3px 3px 2px #403b3b;
}

/* @end */

/* @group Standard Table */
.button_placeholder {
    width: 25px;
}

/* @group tablehandler */
.st_editor_bar {
    background-color:#49637c; !important;
}

.st_editor_body {
    background-color: rgba(124,151,179,0.8);
!important;
}

.qb_group_even {
    background-color: rgba(124,151,179,0.8);
!important;
}

.listbottompane {
    background-color: rgba(168, 181, 182, 0.8);
}

.listbottompane .dijitButtonNode {
    box-shadow: 1px 1px 2px #403b3b;
}

.listbottompane .dijitButtonNode:hover {
    box-shadow: 2px 2px 4px #403b3b;

}


/* @end */
/* @end */

/* @group General */
/* @group form */

.sectionLabel {
    color: #707070 !important;
    opacity: 0.7 !important;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3px;
}


.gnrfieldlabel {
    color: #707070;
}

.label {
    color: rgba(95, 75, 66, 0.7);
}

.gnr_recordinfo {
    padding: 5px;
    background-color: #F5F5F5;
    box-shadow: rgb(158, 133, 111) 2px 2px 2px;
    border-radius: 6px;
}

/* @end */

#mainWindow {
    /*background-color: rgba(170, 190, 201, 0.2);*/
    font-size: 12px;
}

/* @end */

/* @group Colors */

/* @group font color */

.color_darkest {
    color: rgba(57, 82, 112, 0.99);
}

.color_dark {
    color: #bfb6ae;
}

.color_medium {
    color: #97AEA9;
}

.color_bright {
    color: #eef2fb;
}

.color_brightest {
    color: #F5F5F5;
}

/* @end */

/* @group bgcolor */

.bgcolor_darkest {
    background-color: rgba(57, 82, 112, 0.99);
}

.bgcolor_dark {
    background-color: #bfb6ae;
}

.bgcolor_medium {
    background-color: #97AEA9;
}

.bgcolor_bright {
    background-color: #eef2fb;
}

.bgcolor_brightest {
    background-color: #F5F5F5;
}

/* @end */

/* @end */

.fh_bottom_message {
    background-color: #e6e6e6;
    color:#555;
}


/*grid*/


.draggedItem .dojoxGrid-row{
    border-bottom:1px solid #333;
    border-bottom:1px solid #333;

}

._common_d11 .dojoxGrid-cell {
    border-left: 0px !important;
    border-top: 0 !important;
    border-right: 1px solid #dee;
    border-bottom: 0px solid #dee;
    height: 21px;
    padding: 0 6px 0 3px;
}

._common_d11 .dojoxGrid-row .dojoxGrid-cell {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FFFFFF), to(#f6f6f6));
    background-image: -moz-linear-gradient(-90deg, #FFFFFF, #f6f6f6);
}

._common_d11 .dojoxGrid-row-odd .dojoxGrid-cell {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#FAFCFF), to(#f6f6f6));
    background-image: -moz-linear-gradient(-90deg, #FAFCFF, #f6f6f6);

}
._common_d11 .canBeDropped .dojoxGrid-cell{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(white), to(#8fff9d));
    background-image: -moz-linear-gradient(-90deg, white, #8fff9d);
}

._common_d11 .cannotBeDropped .dojoxGrid-cell{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(white), to(#ffa997));
    background-image: -moz-linear-gradient(-90deg, white, #ffa997);
}
.common_d11 .draggedItem .dojoxGrid-cell{
    border: 0px solid yellow !important;
    opacity:.8;
}


._common_d11 .dojoxGrid-row-selected {

}

._common_d11 .dojoxGrid-row-selected .dojoxGrid-cell {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(white), to(#c2d3e7));
    background-image: -moz-linear-gradient(-90deg, white, #c2d3e7);
    border-bottom: 0px solid #dee !important;
    border-right: 1px solid #dee;
}
._common_d11 .dojoxGrid-scrollbox {
    overflow: auto;
    /*background-color: white ; */
}
