/* Pro Theme */

/*waiting spinner*/

.waiting {
    height: 100%;
    height: 100%;
    background: url(../images/ajax-loader-icond.gif) no-repeat center center;

}

/* @group pbl_elements */

/* @group Root Layout */

/* @group top */

.pbl_username {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #bfb6ae;
    color: #403b3b;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 6px;
}

.pbl_workdate {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #bfb6ae;
    color: #403b3b !important;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 6px;
    margin-top: 5px;
}

.pbl_root_top {
    height: 30px;
    vertical-align: middle;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-color: rgba(226, 224, 224, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#D3D3D3), to(#ABABAB));
    background-image: -moz-linear-gradient(-90deg, #D3D3D3, rgba(201, 201, 201, 1));
    color: #383838;
}

.pbl_title_caption {
    font-size: 11pt;
    margin-top: 1px;
    text-align: center;
}

/* @group Logo */

/*.pbl_logo_icon{
	background: url(icons/genropy.gif) no-repeat  center center;
	width: 30px;
	height: 24px;
}*/

.pbl_logo_caption {
    font-size: 8.5pt;
    font-weight: bold;
    text-align: left;
    margin-top: 6px;
}

/* @end */

/* @end */

/* @group bottom */

/* @group  pbl_messageBottom*/

.pbl_messageBottom {
    text-align: center;
    padding-top: 2px;
}

/* @end */

/* @end */

#mainWindow {
    background-color: rgba(31, 60, 118, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(184, 198, 225, 1)), to(rgba(31, 60, 118, 1)));
    background-image: -moz-linear-gradient(-90deg, rgba(184, 198, 225, 1), rgba(31, 60, 118, 1));
}

.pbl_root {
    margin: 8px;
    margin-left: 0;
    margin-right: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 4px 4px 4px #403b3b;
    -webkit-box-shadow: 4px 4px 4px #403b3b;
}

.pbl_root_bottom {
    height: 24px;
    border-color: #4D5962;
    padding-top: 1px;
    vertical-align: middle;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background-color: rgba(126, 126, 126, 1);
    background-image: -webkit-gradient(linear, 0% 30%, 0% 90%, from(rgb(126, 126, 126)), to(rgb(211, 211, 211)));
    background-image: -moz-linear-gradient(-90deg, rgb(126, 126, 126), rgb(211, 211, 211));
    color: #383838;
}

.pbl_root_center {
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    background-color: rgba(126, 126, 126, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgb(197, 197, 197)), to(rgb(126, 126, 126)));
    background-image: -moz-linear-gradient(-90deg, rgb(197, 197, 197), rgb(126, 126, 126));
    color: #383838;
}

/* @end */

/* @group Widget */

/* @group Toolbar */
.tundra .dijitToolbar {
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    background: none;
    background-color: #0073E7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#00B2ED), to(#0073E7));
    background-image: -moz-linear-gradient(-90deg, #00B2ED, #0073E7);
    color: #383838;
    padding-right: 10px;
}

/* @end */

/* @group Dialog */

.pbl_dialog_center {
/*not mandatory*/
    background-color: #F5F5F5;
}

/* @end */

/* @group includedviewbox */

.pbl_viewBox {
    background-color: transparent;
    padding: 5px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

.pbl_viewBoxLabel {
    height: 18px;
    background-color: #9AA5FA; /*color:white;*/
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 90%,from(#265BC0),to(#0073E7));
   background-image:-moz-linear-gradient(-90deg,#254868, #0073E7);*/
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 2px;
}

/* @end */

/* @end */

/* @group Form group */
.pbl_roundedGroup {
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-right-radius: 20px;
    background-color: #E1E9E9;
}

.pbl_roundedGroupLabel {
    height: 18px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 5px;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#0073E7), to(#E1E9E9));
    background-image: -moz-linear-gradient(180deg, #0073E7, #E1E9E9);
	text-indent: 2px;
}

.pbl_roundedGroupBottom {
    height: 18px;
    background-color: #0073E7;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-bottom: 5px;
    /*
     background-image:-webkit-gradient(linear, left top, right bottom, from(#0073E7), to(white));
     background-image:-moz-linear-gradient(180deg,#0073E7, white);
     */
}

/* @end */

/* @end */

/* @group Widget Customization */

/* @group Dialog */

/* @group alert */

.dlg_msgbox {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border: 0px;
    background-color: #E1E9E9;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding-top: 2em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

/* @end */

._common_d11 .dijitDialogTitleBar {
    background: #4D5962 none repeat scroll 0 0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#0F1724), to(#254868));
    background-image: -moz-linear-gradient(-90deg, #0F1724, #254868);
    color: #F5F5F5;
    vertical-align: middle;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    text-align: center;
}

._common_d11 .dijitDialogCloseIcon {
    display: none;
}

._common_d11 .dijitDialog {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 4px 4px 6px #403b3b;
    -webkit-box-shadow: 4px 4px 6px #403b3b;
    border: 0px;
}

._common_d11 .dijitDialog .dijitDialogPaneContent {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    background-color: #E1E9E9;
    border: 0px;

}

.dialog_bottom {
    background-color: #E1E9E9;
    font-weight: bold;
    height: 26px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

/* @end */

/* @group Accordion */
._common_d11 .dijitAccordionContainer {
    border: 1px solid gray;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}

._common_d11 .dijitAccordionTitle {
    background: #E0CEBE;
    padding: 4px 4px 4px 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    font-size: .9em;
}

._common_d11 .dijitAccordionTitle-selected {
    background: #4D5962;
    color: white;
    padding: 5px 4px 5px 8px;
}

._common_d11 .dijitAccordionArrow {
    display: none;
}

/* @end */

.mycolor {
    color: #68858e;
}

.mycolor2 {
    color: rgba(245, 245, 245, 0.99);
}

/* @group Tabcontainer */

._common_d11 .dijitTab {
    font-size: .9em;
    background: whitesmoke none repeat scroll 0 0;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    background-color: rgba(226, 224, 224, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#D3D3D3), to(#ABABAB));
    background-image: -moz-linear-gradient(-90deg, #D3D3D3, rgba(201, 201, 201, 1));

}

._common_d11 .dijitTabHover {
    opacity: 0.8;
}

._common_d11 .dijitTabInnerDiv {
    border-left: 0;
    border-bottom: 0;
}

._common_d11 .dijitTabCheckedHover {
    opacity: 1;
}

._common_d11 .dijitTabChecked {
    background: #377A98;
    border-bottom-color: #9E856F;
    color: #F5F5F5;
}

._common_d11 .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-bottom-color: #68858e;
    background-color: rgb(195, 195, 195);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(185, 185, 185, 0.99)), to(rgba(107, 107, 107, 0.99)));
    background-image: -moz-linear-gradient(top, bottom, from(rgba(185, 185, 185, 0.99)), to(rgba(107, 107, 107, 0.99)));

}

._common_d11 .dijitTabPaneWrapper {
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #D1DBE4;
    /*background-image:-webkit-gradient(linear, 0% 0%, 0% 90%,from(#96ADDE), to(#BFD5FF));
   background-image:-moz-linear-gradient(-90deg,#96ADDE, #BFD5FF);*/
}

/* @group righttab */

._common_d11 .dijitTabLabels-right-h .dijitTab {
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
}

._common_d11 .dijitTabLabels-right-h .dijitTabInnerDiv {
    border: 0; /*padding: 2px 3px;*/
}

._common_d11 .dijitTabLabels-right-h.dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-left-color: whitesmoke;
}

/* @end */

/* @group lefttab */

._common_d11 .dijitTabLabels-left-h .dijitTab {
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;

}

._common_d11 .dijitTabLabels-left-h .dijitTabInnerDiv {
    padding: 3px 4px;
}

._common_d11 .dijitTabLabels-left-h  .dijitAlignTop .dijitTabChecked, ._common_d11 .dijitAlignTop .dijitTabCloseButtonChecked {
    border-right-color: whitesmoke;
}

/* @end */

/* @group bottomtab */
._common_d11 .dijitTabLabels-bottom {
    padding-left: 3px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fafafa; /*url(images/tabStripeBottom.gif) repeat-x left top;*/
    padding-top: 5px;
    /*-moz-border-radius:5px 5px 0 0;
     -webkit-border-radius:5px;
     -moz-box-shadow:4px 4px 4px #403b3b;
     -webkit-box-shadow:4px 4px 4px #403b3b;
     */
}

/* @end */

/* @end */

/* @group Grid */

/* @end */

/* @group tootlipDialog */

._common_d11 .dijitTooltipDialog .dijitTooltipContainer {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0px;
    border: 0;
    background: #68858E;
    font-size: inherit;
}

/* @end */

/* @end */

/* @group MenuTree */

.menu_page  > a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu_page  > a:hover {
    text-decoration: underline;
}

.menupane_deprecato {
    overflow: auto;
    background-color: rgba(168, 181, 182, 0.8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(105, 127, 127, 0.50)), to(rgba(192, 192, 192, 0.9)));
    background-image: -moz-linear-gradient(-90deg, rgba(105, 127, 127, 0.50), rgba(192, 192, 192, 0.9));
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 7px;
    -moz-box-shadow: 4px 4px 4px #403b3b;
    -webkit-box-shadow: 4px 4px 4px #403b3b;
    border-left: 0px;
}

.menupane {
    overflow: auto;
    color: #383838;
    background-color: rgba(126, 126, 126, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgb(197, 197, 197)), to(rgb(126, 126, 126)));
    background-image: -moz-linear-gradient(-90deg, rgb(197, 197, 197), rgb(126, 126, 126));
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 7px;
    -moz-box-shadow: 4px 4px 4px #403b3b;
    -webkit-box-shadow: 4px 4px 4px #403b3b;
    border-left: 0px;
}

.menutree {
    margin-top: 5px;
    margin-right: 10px; /*font-weight: bold;*/
    background-position: left;
}

.menutree .dijitTreeIcon {
    visibility: hidden;
    cursor: pointer;

}

.menutree .dijitTreeExpando {
    display: none;
}

.menutree .dijitTreeIsLast {
    background: none;
}

.menutree .dijitTreeNode {
    background: none;
}

.menutree .dijitTreeContent {
    margin-left: 0px;
    min-height: 10px;
    padding-bottom: 4px;
    padding-top: 0px;
}

.menutree .menu_level_0 {
    font-size: 1em;
}

.menutree .menu_level_1 {
    font-size: 1em;
}

.menutree .menu_level_2 {
    font-size: 1.1em;
}

.menutree .menu_level_3 {
    font-size: 1em;
}

.menutree .menu_level_4 {
    font-size: 1em;
}

.menutree .menu_page {
    color: #403b3b;
    font-size: .9em;
}

.menutree .menu_shape {
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(126, 126, 126, 1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgb(197, 197, 197)), to(rgb(146, 146, 146)));
    background-image: -moz-linear-gradient(-90deg, rgb(197, 197, 197), rgb(126, 126, 126));
    margin-right: 10px;
    -moz-box-shadow: 2px 2px 2px #403b3b;
    -webkit-box-shadow: 2px 2px 2px #403b3b;
    margin-top: 3px;
    color: #FFFFFF;
}

.menutree .menu_current_page {
    background-color: #9E856F !important;
}

.menutree .menu_shape:hover {
    -moz-box-shadow: 4px 4px 4px #403b3b;
    -webkit-box-shadow: 4px 4px 4px #403b3b;
}

/* @end */

/* @group Standard Table */
.button_placeholder {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 3px;
}

/* @group tablehandler */
.st_editor_bar {
    background-color: #68858E !important;
}

.st_editor_body {
    background-color: rgba(168, 181, 182, 0.8);
!important;
}

.qb_group_even {
    background-color: rgba(168, 181, 182, 0.8);
!important;
}

.listbottompane {
    background-color: rgba(168, 181, 182, 0.8);
}

.listbottompane .dijitButtonNode {
    -moz-box-shadow: 1px 1px 2px #403b3b;
    -webkit-box-shadow: 1px 1px 2px #403b3b;
}

.listbottompane .dijitButtonNode:hover {
    -moz-box-shadow: 2px 2px 4px #403b3b;
    -webkit-box-shadow: 2px 2px 4px #403b3b;

}

/* @end */
/* @end */

/* @group General */
/* @group form */
.gnrfieldlabel {
    color: rgba(72, 84, 92, 0.9);
}

.label {
    color: rgba(72, 84, 92, 0.9);
}

.gnr_recordinfo {
    padding: 5px;
    background-color: #F5F5F5;
    -webkit-box-shadow: rgb(158, 133, 111) 2px 2px 2px;
    -moz-box-shadow: rgb(158, 133, 111) 2px 2px 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* @end */

#mainWindow {
    background-color: #E1E9E9;
    font-size: 12px;
}

/* @end */

/* @group Colors */

/* @group font color */

.color_darkest {
    color: rgba(77, 89, 98, 0.99);
}

.color_dark {
    color: #bfb6ae;
}

.color_medium {
    color: #97AEA9;
}

.color_bright {
    color: #E1E9E9;
}

.color_brightest {
    color: #F5F5F5;
}

/* @end */

/* @group bgcolor */

.bgcolor_darkest {
    background-color: rgba(77, 89, 98, 0.99);
}

.bgcolor_dark {
    background-color: #bfb6ae;
}

.bgcolor_medium {
    background-color: #97AEA9;
}

.bgcolor_bright {
    background-color: #E1E9E9;
}

.bgcolor_brightest {
    background-color: #F5F5F5;
}

/* @end */

/* @end */

.logicalDeleted .dojoxGrid-cell {
    color: #b50000;
}

.logicalDeleted .dojoxGrid-row-selected .dojoxGrid-cell {
    color: #b50000;
}

._common_d11 .dojoxGrid {
    background-color: transparent;
}

._common_d11 .dojoxGrid-scrollbox {
    overflow: auto;
    background-color: transparent;
}

._common_d11 .dojoxGrid-header {
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border: 0px solid red;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#96ADDE), to(#BFD5FF));
    background-image: -moz-linear-gradient(-90deg, #96ADDE, #BFD5FF);
}

._common_d11 .dojoxGrid-cell {
    padding: 1px 4px;
    border: 0px;
    border-right: 1px dotted gray;
    border-bottom: 1px dotted gray;
    height: 16px;
}

._common_d11 nopadding .dojoxGrid-cell {
    padding: 0px 0px;
}

/*
._common_d11 .dojoxGrid-row-table {
	border-collapse: separate;
}
*/
._common_d11 .cell_B .widgetInCell {
    width: 16px;
    margin: auto;
}

._common_d11 .invalidCell {
    background-color: #F4B87C;
}

._common_d11 .widgetInCell {
}

._common_d11 .widgetInCell {
/*also invalid*/
    background-color: #FFFFAD;
    color: black;
    display: block;
    border: 0px grey;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
}

._common_d11 .dojoxGrid-row .dojoxGrid-cell {
    background-color: transparent;
}

.tundra .dojoxGrid-header .dojoxGrid-cell {
    -moz-box-shadow: inset 1px 1px 10px #888;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: transparent;
    border-color: white #F4EFD8 #F4EFD8 white;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    color: #000000 !important;
    padding-bottom: 2px;
}

._common_d11 .dojoxGrid-row-odd .dojoxGrid-cell {
    background-color: #e4e4e4;
}

._common_d11 .dojoxGrid-row-odd {
    background-color: transparent;
}

._common_d11 .dojoxGrid-row {
    background-color: transparent;
}

._common_d11 .dojoxGrid-row-selected {
    background-color: transparent;
}

._common_d11 .dojoxGrid-row-selected .dojoxGrid-cell {
    background-color: #AEC7E3;
}

._common_d11 .dojoxGrid-row-over .dojoxGrid-cell {
    background-color: #60a1ea;
    color: black !important;

}

/* @group No-over and no-selected */

._common_d11 .no_over .dojoxGrid-row .dojoxGrid-cell {
    background-color: whitesmoke;
}

._common_d11 .no_selected .dojoxGrid-row .dojoxGrid-cell {
    background-color: whitesmoke;
}

._common_d11 .no_over .dojoxGrid-row-over .dojoxGrid-cell {
    background-color: whitesmoke;
}

._common_d11 .no_selected .dojoxGrid-row-selected .dojoxGrid-cell {
    background-color: whitesmoke;
}

/* @end */

/* @end */
/* @group Dojox */
._common_d11 .dojoxDock {
    background: transparent;
    border: 0;
    margin: auto 4px;
}

/*@end*/